<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingshuangqiu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{139,85}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{139,85}}</string>
                <key>sourceSize</key>
                <string>{155,85}</string>
            </dict>
            <key>bingshuangqiu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{140,85}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,85}}</string>
                <key>sourceSize</key>
                <string>{150,85}</string>
            </dict>
            <key>bingshuangqiu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{147,85}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{147,85}}</string>
                <key>sourceSize</key>
                <string>{155,85}</string>
            </dict>
            <key>bingshuangqiu-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,85}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{149,85}}</string>
                <key>sourceSize</key>
                <string>{155,85}</string>
            </dict>
            <key>bingshuangqiu-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{145,85}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{145,85}}</string>
                <key>sourceSize</key>
                <string>{155,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bingqiubody.png</string>
            <key>size</key>
            <string>{732,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6ad34bd72ec45fe41e1b940d497d7f7$</string>
            <key>textureFileName</key>
            <string>bingqiubody.png</string>
        </dict>
    </dict>
</plist>
