<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhizhubossbody/body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,67}}</string>
                <key>sourceSize</key>
                <string>{35,67}</string>
            </dict>
            <key>zhizhubossbody/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>zhizhubossbody/lbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,68},{12,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,41}}</string>
                <key>sourceSize</key>
                <string>{12,41}</string>
            </dict>
            <key>zhizhubossbody/lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,110},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>zhizhubossbody/lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,95},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>zhizhubossbody/lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>zhizhubossbody/lhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,110},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>zhizhubossbody/lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,50},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{16,40}</string>
            </dict>
            <key>zhizhubossbody/lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,42},{15,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,37}}</string>
                <key>sourceSize</key>
                <string>{15,37}</string>
            </dict>
            <key>zhizhubossbody/lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,89},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>zhizhubossbody/lzhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,108},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>zhizhubossbody/lzhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,77},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>zhizhubossbody/lzhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,47},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>zhizhubossbody/lzhua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,74},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>zhizhubossbody/lzhua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,50},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>zhizhubossbody/lzhua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>zhizhubossbody/rbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>zhizhubossbody/rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>zhizhubossbody/rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,114},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>zhizhubossbody/rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,104},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>zhizhubossbody/rhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,103},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>zhizhubossbody/rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,22},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>zhizhubossbody/rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,79},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>zhizhubossbody/rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,114},{11,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,35}}</string>
                <key>sourceSize</key>
                <string>{11,35}</string>
            </dict>
            <key>zhizhubossbody/rzhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,108},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>zhizhubossbody/rzhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,59},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>zhizhubossbody/rzhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,76},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>zhizhubossbody/rzhua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,59},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>zhizhubossbody/rzhua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,68},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>zhizhubossbody/rzhua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosszhizhunvhuangbody.png</string>
            <key>size</key>
            <string>{209,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ea9d88311d2279298a6883e2351d2c6$</string>
            <key>textureFileName</key>
            <string>bosszhizhunvhuangbody.png</string>
        </dict>
    </dict>
</plist>
