<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossdalong/beici1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,90},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>bossdalong/beici2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,108},{92,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>bossdalong/beici3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{105,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>bossdalong/body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,213}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,213}}</string>
                <key>sourceSize</key>
                <string>{179,229}</string>
            </dict>
            <key>bossdalong/body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,2},{86,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>bossdalong/body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,2},{90,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,103}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>bossdalong/body4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>bossdalong/dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{324,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,121}}</string>
                <key>sourceSize</key>
                <string>{324,121}</string>
            </dict>
            <key>bossdalong/head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{127,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,161}}</string>
                <key>sourceSize</key>
                <string>{129,161}</string>
            </dict>
            <key>bossdalong/jiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{248,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,125}}</string>
                <key>sourceSize</key>
                <string>{248,125}</string>
            </dict>
            <key>bossdalong/jiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{157,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,76}}</string>
                <key>sourceSize</key>
                <string>{157,76}</string>
            </dict>
            <key>bossdalong/jiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{82,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,104}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>bossdalong/lci1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,129},{50,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>bossdalong/lci2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,129},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>bossdalong/lci3.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,125},{53,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>bossdalong/ljiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,107},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>bossdalong/mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,110}}</string>
                <key>sourceSize</key>
                <string>{78,110}</string>
            </dict>
            <key>bossdalong/rci1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,109},{61,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>bossdalong/rci2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,125},{53,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,86}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>bossdalong/rci3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,125},{77,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,37}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>bossdalong/rjiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,109},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>bossdalong/rjiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,129},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>bossdalong/rjiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,129},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>bossdalong/zui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,114},{90,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,65}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>bossdalong/zui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,129},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossdalongbody.png</string>
            <key>size</key>
            <string>{1498,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b49042e7e55ab6744b3422c55c7dd1d$</string>
            <key>textureFileName</key>
            <string>bossdalongbody.png</string>
        </dict>
    </dict>
</plist>
