<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buff_CDR12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{99,99}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>jianguangte-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{263,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,184}}</string>
                <key>sourceSize</key>
                <string>{263,184}</string>
            </dict>
            <key>jianguangte-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{205,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,184}}</string>
                <key>sourceSize</key>
                <string>{205,184}</string>
            </dict>
            <key>jianguangte-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,210}}</string>
                <key>sourceSize</key>
                <string>{266,210}</string>
            </dict>
            <key>jianguangte-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,214},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>kuloubing1-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,400},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss-jianbody.png</string>
            <key>size</key>
            <string>{478,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef565b00bc8795d15499c7509c8bc10d$</string>
            <key>textureFileName</key>
            <string>boss-jianbody.png</string>
        </dict>
    </dict>
</plist>
