<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jujuju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1707},{164,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{164,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1870},{164,154}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1873},{166,152}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{166,152}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1878},{152,136}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{152,136}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1873},{144,146}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{144,146}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1719},{152,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{152,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>juren_tx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,943},{268,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,112}}</string>
                <key>sourceSize</key>
                <string>{270,114}</string>
            </dict>
            <key>penbingqi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1229},{488,233}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{488,233}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penbingqi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,245}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{486,245}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penbingqi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1221},{484,237}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{484,237}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penbingqi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,739},{480,239}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{480,239}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penbingqi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1213},{488,233}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{488,233}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penbingqi-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{486,243}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{486,243}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penbingqi-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{484,243}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{484,243}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penbingqi-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{488,241}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{488,241}}</string>
                <key>sourceSize</key>
                <string>{500,249}</string>
            </dict>
            <key>penhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1703},{165,221}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{165,221}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>penhuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,451},{159,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{159,245}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>penhuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,698},{139,243}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,243}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>penhuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,795},{81,193}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{81,193}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>qibo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1157},{111,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,31}}</string>
                <key>sourceSize</key>
                <string>{113,31}</string>
            </dict>
            <key>qibo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1707},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{169,53}}</string>
                <key>sourceSize</key>
                <string>{175,55}</string>
            </dict>
            <key>qibo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,451},{171,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{171,55}}</string>
                <key>sourceSize</key>
                <string>{177,57}</string>
            </dict>
            <key>qibo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,990},{165,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{165,55}}</string>
                <key>sourceSize</key>
                <string>{171,55}</string>
            </dict>
            <key>qibo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,624},{169,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{169,55}}</string>
                <key>sourceSize</key>
                <string>{175,55}</string>
            </dict>
            <key>zhen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{223,223}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{223,223}}</string>
                <key>sourceSize</key>
                <string>{231,227}</string>
            </dict>
            <key>zhen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,227},{222,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{222,224}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossxiaolongtx.png</string>
            <key>size</key>
            <string>{721,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d980d9cee8d71db2a056a05ac3ce3442$</string>
            <key>textureFileName</key>
            <string>bossxiaolongtx.png</string>
        </dict>
    </dict>
</plist>
