<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1046-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,838},{67,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,80}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>1046-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,493},{65,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{65,76}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>1046-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,239},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{70,89}</string>
            </dict>
            <key>1046-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,873},{66,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,84}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>1046-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,676},{65,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{65,84}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>1046-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,594},{64,83}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{64,83}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>1046-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,560},{64,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{64,76}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>1046-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,330},{68,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,80}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>dizhuwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{330,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,109}}</string>
                <key>sourceSize</key>
                <string>{332,109}</string>
            </dict>
            <key>paotu1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,873},{121,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>paotu1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,163},{147,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,76}}</string>
                <key>sourceSize</key>
                <string>{147,76}</string>
            </dict>
            <key>paotu1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,239},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>paotu1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,838},{118,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>paotu1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,594},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>paotu1-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,679},{115,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,79}}</string>
                <key>sourceSize</key>
                <string>{117,79}</string>
            </dict>
            <key>paotu1-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,760},{109,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>paotu1-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,412},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{81,76}</string>
            </dict>
            <key>paotu1-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,760},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>xian-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,877},{95,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,60}}</string>
                <key>sourceSize</key>
                <string>{95,60}</string>
            </dict>
            <key>xian-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,743},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>xian-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,126},{46,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,111}}</string>
                <key>sourceSize</key>
                <string>{46,111}</string>
            </dict>
            <key>xian-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,839},{104,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>xian-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,839},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>xian-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,523},{2,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,147}}</string>
                <key>sourceSize</key>
                <string>{2,147}</string>
            </dict>
            <key>zhizhuazhuaji-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,468},{220,144}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{220,144}}</string>
                <key>sourceSize</key>
                <string>{222,146}</string>
            </dict>
            <key>zhizhuazhuaji-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,523},{169,165}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{171,165}</string>
            </dict>
            <key>zhizhuazhuaji-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{90,167}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,167}}</string>
                <key>sourceSize</key>
                <string>{92,169}</string>
            </dict>
            <key>zhizhuazhuaji-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,778},{58,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,143}}</string>
                <key>sourceSize</key>
                <string>{58,147}</string>
            </dict>
            <key>zhizhubosssiwang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,690},{181,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,192}}</string>
                <key>sourceSize</key>
                <string>{183,192}</string>
            </dict>
            <key>zhizhubosssiwang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{210,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{210,206}}</string>
                <key>sourceSize</key>
                <string>{214,208}</string>
            </dict>
            <key>zhizhubosssiwang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,332},{181,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,189}}</string>
                <key>sourceSize</key>
                <string>{181,189}</string>
            </dict>
            <key>zhizhubosssiwang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,690},{173,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,185}}</string>
                <key>sourceSize</key>
                <string>{173,185}</string>
            </dict>
            <key>zhizhubosssiwang-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,410},{172,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,182}}</string>
                <key>sourceSize</key>
                <string>{172,182}</string>
            </dict>
            <key>zhizhubosssiwang-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,410},{186,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,169}}</string>
                <key>sourceSize</key>
                <string>{186,169}</string>
            </dict>
            <key>zhizhubosssiwang-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,581},{170,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,160}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>zhuazhua-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,239},{192,169}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{192,169}}</string>
                <key>sourceSize</key>
                <string>{196,169}</string>
            </dict>
            <key>zhuazhua-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,163},{237,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{237,167}}</string>
                <key>sourceSize</key>
                <string>{239,171}</string>
            </dict>
            <key>zhuazhua-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{249,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{249,169}}</string>
                <key>sourceSize</key>
                <string>{249,171}</string>
            </dict>
            <key>zhuazhua-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,126},{253,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{253,111}}</string>
                <key>sourceSize</key>
                <string>{255,111}</string>
            </dict>
            <key>zhuwang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{344,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,159}}</string>
                <key>sourceSize</key>
                <string>{344,159}</string>
            </dict>
            <key>zhuwang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,181}}</string>
                <key>sourceSize</key>
                <string>{356,181}</string>
            </dict>
            <key>zhuwang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{353,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,170}}</string>
                <key>sourceSize</key>
                <string>{353,170}</string>
            </dict>
            <key>zhuwang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{306,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,122}}</string>
                <key>sourceSize</key>
                <string>{306,122}</string>
            </dict>
            <key>zhuwang-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,743},{178,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,33}}</string>
                <key>sourceSize</key>
                <string>{178,33}</string>
            </dict>
            <key>zhuwang-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,357},{82,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,19}}</string>
                <key>sourceSize</key>
                <string>{82,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosszhizhutx.png</string>
            <key>size</key>
            <string>{1022,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81edd449ce94fd82efc2a3b45f9b5f85$</string>
            <key>textureFileName</key>
            <string>bosszhizhutx.png</string>
        </dict>
    </dict>
</plist>
