<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tanglangguang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,838},{160,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,126}}</string>
                <key>sourceSize</key>
                <string>{160,126}</string>
            </dict>
            <key>tanglangguang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,850},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>tanglangguang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,712},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>tanglangguang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,535},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>tanglangluo-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,452},{81,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,259}}</string>
                <key>sourceSize</key>
                <string>{81,259}</string>
            </dict>
            <key>tanglangluo-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{107,191}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,191}}</string>
                <key>sourceSize</key>
                <string>{109,193}</string>
            </dict>
            <key>tanglangluo-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,309}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,309}}</string>
                <key>sourceSize</key>
                <string>{150,311}</string>
            </dict>
            <key>tanglangluo-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{154,278}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,278}}</string>
                <key>sourceSize</key>
                <string>{154,280}</string>
            </dict>
            <key>tanglangluo-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,292},{158,271}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,271}}</string>
                <key>sourceSize</key>
                <string>{158,275}</string>
            </dict>
            <key>tanglangluo-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{160,266}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,266}}</string>
                <key>sourceSize</key>
                <string>{160,272}</string>
            </dict>
            <key>tanglangluo-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,836},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,114}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>tanglangluo-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,472},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>tanglangzui-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>tanglangzui-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{168,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{168,168}}</string>
                <key>sourceSize</key>
                <string>{176,172}</string>
            </dict>
            <key>tanglangzui-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,535},{175,175}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{175,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>tanglangzui-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,111},{179,179}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{179,179}}</string>
                <key>sourceSize</key>
                <string>{193,185}</string>
            </dict>
            <key>tanglangzui-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{176,177}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{176,177}}</string>
                <key>sourceSize</key>
                <string>{196,189}</string>
            </dict>
            <key>tanglangzui-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{165,164}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{165,164}}</string>
                <key>sourceSize</key>
                <string>{199,192}</string>
            </dict>
            <key>tanglangzui-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,712},{139,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{139,136}}</string>
                <key>sourceSize</key>
                <string>{197,192}</string>
            </dict>
            <key>xbshua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,709},{88,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>xbshua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,574},{65,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,133}}</string>
                <key>sourceSize</key>
                <string>{65,135}</string>
            </dict>
            <key>xbshua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,51},{41,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,113}}</string>
                <key>sourceSize</key>
                <string>{41,117}</string>
            </dict>
            <key>xbshua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,166},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{40,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosstanglangtx.png</string>
            <key>size</key>
            <string>{559,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5fd9b4dc2fc73fa748d4064037d6f9$</string>
            <key>textureFileName</key>
            <string>bosstanglangtx.png</string>
        </dict>
    </dict>
</plist>
