<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dahuoqiu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{164,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,101}}</string>
                <key>sourceSize</key>
                <string>{164,101}</string>
            </dict>
            <key>dahuoqiu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{164,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,102}}</string>
                <key>sourceSize</key>
                <string>{164,102}</string>
            </dict>
            <key>dahuoqiu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,942},{160,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,95}}</string>
                <key>sourceSize</key>
                <string>{160,95}</string>
            </dict>
            <key>dahuoqiu-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1104},{150,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,95}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>dahuoqiu-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{158,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,99}}</string>
                <key>sourceSize</key>
                <string>{158,99}</string>
            </dict>
            <key>dahuoqiu-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>dahuoqiu-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{162,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,99}}</string>
                <key>sourceSize</key>
                <string>{164,99}</string>
            </dict>
            <key>huomen-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,838},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{65,101}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>huomen-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,345},{80,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{80,133}}</string>
                <key>sourceSize</key>
                <string>{92,145}</string>
            </dict>
            <key>huomen-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1404},{87,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{87,146}}</string>
                <key>sourceSize</key>
                <string>{97,160}</string>
            </dict>
            <key>huomen-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1256},{87,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{87,146}}</string>
                <key>sourceSize</key>
                <string>{97,158}</string>
            </dict>
            <key>huomen-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,694},{86,142}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{86,142}}</string>
                <key>sourceSize</key>
                <string>{98,158}</string>
            </dict>
            <key>huomen-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,548},{86,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{86,144}}</string>
                <key>sourceSize</key>
                <string>{96,156}</string>
            </dict>
            <key>huomen-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1686},{87,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{87,144}}</string>
                <key>sourceSize</key>
                <string>{97,158}</string>
            </dict>
            <key>huomen-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1832},{86,141}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{86,141}}</string>
                <key>sourceSize</key>
                <string>{98,157}</string>
            </dict>
            <key>huozhaci-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1552},{132,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,88}}</string>
                <key>sourceSize</key>
                <string>{136,92}</string>
            </dict>
            <key>huozhaci-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{192,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{192,113}}</string>
                <key>sourceSize</key>
                <string>{198,119}</string>
            </dict>
            <key>huozhaci-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{201,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{201,120}}</string>
                <key>sourceSize</key>
                <string>{207,126}</string>
            </dict>
            <key>huozhaci-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{198,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,119}}</string>
                <key>sourceSize</key>
                <string>{200,121}</string>
            </dict>
            <key>huozhaci-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{198,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{198,82}}</string>
                <key>sourceSize</key>
                <string>{202,84}</string>
            </dict>
            <key>longfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,175}}</string>
                <key>sourceSize</key>
                <string>{341,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossheilongtx.png</string>
            <key>size</key>
            <string>{211,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1e3535378ad46bca7a8dff0baad4d3d$</string>
            <key>textureFileName</key>
            <string>bossheilongtx.png</string>
        </dict>
    </dict>
</plist>
