<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossxiaolong/body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{114,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,97}}</string>
                <key>sourceSize</key>
                <string>{114,97}</string>
            </dict>
            <key>bossxiaolong/body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{162,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,83}}</string>
                <key>sourceSize</key>
                <string>{162,83}</string>
            </dict>
            <key>bossxiaolong/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,159},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>bossxiaolong/lchi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,118},{113,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,92}}</string>
                <key>sourceSize</key>
                <string>{113,92}</string>
            </dict>
            <key>bossxiaolong/lchi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,79}}</string>
                <key>sourceSize</key>
                <string>{205,79}</string>
            </dict>
            <key>bossxiaolong/lchi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{197,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,141}}</string>
                <key>sourceSize</key>
                <string>{197,141}</string>
            </dict>
            <key>bossxiaolong/lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,192},{55,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,71}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>bossxiaolong/lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,50},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>bossxiaolong/lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,99},{65,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,47}}</string>
                <key>sourceSize</key>
                <string>{65,47}</string>
            </dict>
            <key>bossxiaolong/lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,201},{53,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,87}}</string>
                <key>sourceSize</key>
                <string>{53,87}</string>
            </dict>
            <key>bossxiaolong/lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,192},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>bossxiaolong/lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,201},{28,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,54}}</string>
                <key>sourceSize</key>
                <string>{28,54}</string>
            </dict>
            <key>bossxiaolong/lleg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{69,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,38}}</string>
                <key>sourceSize</key>
                <string>{69,38}</string>
            </dict>
            <key>bossxiaolong/mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,126},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>bossxiaolong/rchi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{155,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,104}}</string>
                <key>sourceSize</key>
                <string>{155,104}</string>
            </dict>
            <key>bossxiaolong/rchi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,159},{262,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,93}}</string>
                <key>sourceSize</key>
                <string>{262,93}</string>
            </dict>
            <key>bossxiaolong/rchi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{269,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,138}}</string>
                <key>sourceSize</key>
                <string>{269,138}</string>
            </dict>
            <key>bossxiaolong/rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,207},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>bossxiaolong/rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,101},{89,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,60}}</string>
                <key>sourceSize</key>
                <string>{89,60}</string>
            </dict>
            <key>bossxiaolong/rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,166},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>bossxiaolong/rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{59,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,97}}</string>
                <key>sourceSize</key>
                <string>{59,97}</string>
            </dict>
            <key>bossxiaolong/rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,166},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>bossxiaolong/rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>bossxiaolong/rleg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{85,46}</string>
            </dict>
            <key>bossxiaolong/wei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,50},{76,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>bossxiaolong/wei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,209},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>bossxiaolong/wei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,201},{50,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,19}}</string>
                <key>sourceSize</key>
                <string>{50,19}</string>
            </dict>
            <key>bossxiaolong/wei4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,142},{103,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,38}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossxiaolongbody.png</string>
            <key>size</key>
            <string>{1008,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f60b9a549e10412d826e32e77ddd228$</string>
            <key>textureFileName</key>
            <string>bossxiaolongbody.png</string>
        </dict>
    </dict>
</plist>
