<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caidi-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{153,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,78}}</string>
                <key>sourceSize</key>
                <string>{153,78}</string>
            </dict>
            <key>caidi-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{169,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,81}}</string>
                <key>sourceSize</key>
                <string>{169,81}</string>
            </dict>
            <key>caidi-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,311},{178,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,82}}</string>
                <key>sourceSize</key>
                <string>{178,84}</string>
            </dict>
            <key>caidi-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1205},{176,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,65}}</string>
                <key>sourceSize</key>
                <string>{176,65}</string>
            </dict>
            <key>caidi-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1677},{158,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1519},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>juren_tx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,112}}</string>
                <key>sourceSize</key>
                <string>{270,114}</string>
            </dict>
            <key>lanbuff_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1906},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>lanbufftx1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1868},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lanbufftx3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,820},{146,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{146,134}}</string>
                <key>sourceSize</key>
                <string>{146,156}</string>
            </dict>
            <key>lanbufftx3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,968},{175,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{175,142}}</string>
                <key>sourceSize</key>
                <string>{177,156}</string>
            </dict>
            <key>lanbufftx3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{192,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{192,144}}</string>
                <key>sourceSize</key>
                <string>{196,156}</string>
            </dict>
            <key>lanbufftx3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{196,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,113}}</string>
                <key>sourceSize</key>
                <string>{202,115}</string>
            </dict>
            <key>lanbufftx3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,491},{197,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,102}}</string>
                <key>sourceSize</key>
                <string>{199,104}</string>
            </dict>
            <key>lanbufftx3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1739},{165,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{165,96}}</string>
                <key>sourceSize</key>
                <string>{173,104}</string>
            </dict>
            <key>lanbufftx3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1297},{141,82}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{141,82}}</string>
                <key>sourceSize</key>
                <string>{173,104}</string>
            </dict>
            <key>lanbufftx4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,690},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1145},{148,150}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{148,150}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>penhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{165,221}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{165,221}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>penhuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{159,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{159,245}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>penhuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{139,243}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{139,243}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>penhuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,116},{81,193}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{81,193}}</string>
                <key>sourceSize</key>
                <string>{165,247}</string>
            </dict>
            <key>tanglangzui-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>tanglangzui-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{168,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{168,168}}</string>
                <key>sourceSize</key>
                <string>{176,172}</string>
            </dict>
            <key>tanglangzui-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{175,175}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{175,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>tanglangzui-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{179,179}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{179,179}}</string>
                <key>sourceSize</key>
                <string>{193,185}</string>
            </dict>
            <key>tanglangzui-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{176,177}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{176,177}}</string>
                <key>sourceSize</key>
                <string>{196,189}</string>
            </dict>
            <key>tanglangzui-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{165,164}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{165,164}}</string>
                <key>sourceSize</key>
                <string>{199,192}</string>
            </dict>
            <key>tanglangzui-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1381},{139,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{139,136}}</string>
                <key>sourceSize</key>
                <string>{197,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosslanbufftx.png</string>
            <key>size</key>
            <string>{332,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7302e0f5be3d60ea0773b64939d0e6ff$</string>
            <key>textureFileName</key>
            <string>bosslanbufftx.png</string>
        </dict>
    </dict>
</plist>
