<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bobobo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,293},{368,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{368,118}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,316},{380,126}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{380,126}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,307},{356,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{356,120}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,413},{372,128}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{372,128}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,429},{378,128}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{378,128}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,191},{338,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{338,114}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{346,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{346,114}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>chong-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2},{113,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,85}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>chong-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{117,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,86}}</string>
                <key>sourceSize</key>
                <string>{123,86}</string>
            </dict>
            <key>chong-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1001},{312,289}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{312,289}}</string>
                <key>sourceSize</key>
                <string>{350,345}</string>
            </dict>
            <key>chonga-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{146,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,76}}</string>
                <key>sourceSize</key>
                <string>{146,76}</string>
            </dict>
            <key>chonga-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{286,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,81}}</string>
                <key>sourceSize</key>
                <string>{286,81}</string>
            </dict>
            <key>chonga-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{223,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,84}}</string>
                <key>sourceSize</key>
                <string>{223,84}</string>
            </dict>
            <key>diguang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,27}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>diguang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{122,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,31}}</string>
                <key>sourceSize</key>
                <string>{122,31}</string>
            </dict>
            <key>diguang2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{97,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>diguang2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>diguang2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,59},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>diguang2-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,35},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>diliekai-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,168},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,90},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,89},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,88},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,85},{183,94}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{183,94}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>guangte-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{172,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{172,134}}</string>
                <key>sourceSize</key>
                <string>{186,142}</string>
            </dict>
            <key>guangte-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,585},{215,172}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{215,172}}</string>
                <key>sourceSize</key>
                <string>{221,178}</string>
            </dict>
            <key>guangte-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,706},{217,178}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{217,178}}</string>
                <key>sourceSize</key>
                <string>{225,184}</string>
            </dict>
            <key>guangte-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,720},{213,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{213,179}}</string>
                <key>sourceSize</key>
                <string>{221,187}</string>
            </dict>
            <key>guangte-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,759},{258,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,210}}</string>
                <key>sourceSize</key>
                <string>{258,210}</string>
            </dict>
            <key>hero1dazhao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,307},{222,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,130}}</string>
                <key>sourceSize</key>
                <string>{222,130}</string>
            </dict>
            <key>hero1dazhao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,85},{174,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,92}}</string>
                <key>sourceSize</key>
                <string>{174,92}</string>
            </dict>
            <key>hero1dazhao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,403},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>hero1dazhao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,751},{241,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,190}}</string>
                <key>sourceSize</key>
                <string>{241,190}</string>
            </dict>
            <key>hero1dazhao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,588},{196,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,172}}</string>
                <key>sourceSize</key>
                <string>{196,172}</string>
            </dict>
            <key>hero1dazhao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,439},{160,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,141}}</string>
                <key>sourceSize</key>
                <string>{160,141}</string>
            </dict>
            <key>huzhan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,276},{196,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{196,125}}</string>
                <key>sourceSize</key>
                <string>{208,133}</string>
            </dict>
            <key>huzhan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,543},{167,159}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{167,159}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>huzhan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,588},{172,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{172,178}}</string>
                <key>sourceSize</key>
                <string>{178,184}</string>
            </dict>
            <key>huzhan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,582},{175,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{175,167}}</string>
                <key>sourceSize</key>
                <string>{179,175}</string>
            </dict>
            <key>huzhan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,543},{174,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{174,161}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>huzhan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,540},{166,155}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{166,155}}</string>
                <key>sourceSize</key>
                <string>{172,159}</string>
            </dict>
            <key>huzhan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,154},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,112}</string>
            </dict>
            <key>lanbufftx3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,386},{146,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{146,134}}</string>
                <key>sourceSize</key>
                <string>{146,156}</string>
            </dict>
            <key>lanbufftx3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,444},{175,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{175,142}}</string>
                <key>sourceSize</key>
                <string>{177,156}</string>
            </dict>
            <key>lanbufftx3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{192,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{192,144}}</string>
                <key>sourceSize</key>
                <string>{196,156}</string>
            </dict>
            <key>lanbufftx3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,184},{196,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,113}}</string>
                <key>sourceSize</key>
                <string>{202,115}</string>
            </dict>
            <key>lanbufftx3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,172},{197,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,102}}</string>
                <key>sourceSize</key>
                <string>{199,104}</string>
            </dict>
            <key>lanbufftx3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,86},{165,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{165,96}}</string>
                <key>sourceSize</key>
                <string>{173,104}</string>
            </dict>
            <key>lanbufftx3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{141,82}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{141,82}}</string>
                <key>sourceSize</key>
                <string>{173,104}</string>
            </dict>
            <key>long.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,559},{411,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,159}}</string>
                <key>sourceSize</key>
                <string>{411,159}</string>
            </dict>
            <key>longjuanqi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,80},{202,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{202,86}}</string>
                <key>sourceSize</key>
                <string>{204,88}</string>
            </dict>
            <key>longjuanqi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,444},{255,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{255,139}}</string>
                <key>sourceSize</key>
                <string>{257,139}</string>
            </dict>
            <key>longjuanqi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,192},{258,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{258,122}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>longjuanqi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,81},{197,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,89}}</string>
                <key>sourceSize</key>
                <string>{199,89}</string>
            </dict>
            <key>longjuanqi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{110,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,77}}</string>
                <key>sourceSize</key>
                <string>{112,79}</string>
            </dict>
            <key>longjuanqi-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,762},{317,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,237}}</string>
                <key>sourceSize</key>
                <string>{317,237}</string>
            </dict>
            <key>longjuanqi-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{470,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,278}}</string>
                <key>sourceSize</key>
                <string>{470,278}</string>
            </dict>
            <key>longjuanqi-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,971},{493,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,280}}</string>
                <key>sourceSize</key>
                <string>{493,280}</string>
            </dict>
            <key>longjuanqi-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1190},{479,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,307}}</string>
                <key>sourceSize</key>
                <string>{479,307}</string>
            </dict>
            <key>longjuanqi-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1253},{368,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,307}}</string>
                <key>sourceSize</key>
                <string>{368,307}</string>
            </dict>
            <key>longjuanqi-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1161},{292,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,373}}</string>
                <key>sourceSize</key>
                <string>{292,373}</string>
            </dict>
            <key>longjuanqi-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1292},{309,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,458}}</string>
                <key>sourceSize</key>
                <string>{309,458}</string>
            </dict>
            <key>longjuanqi-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1603},{347,625}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{347,625}}</string>
                <key>sourceSize</key>
                <string>{349,625}</string>
            </dict>
            <key>longjuanqi-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1603},{442,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,514}}</string>
                <key>sourceSize</key>
                <string>{442,514}</string>
            </dict>
            <key>longjuanqi-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,901},{386,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,287}}</string>
                <key>sourceSize</key>
                <string>{386,287}</string>
            </dict>
            <key>nuqi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,80},{202,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{202,86}}</string>
                <key>sourceSize</key>
                <string>{204,88}</string>
            </dict>
            <key>nuqi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,444},{255,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{255,139}}</string>
                <key>sourceSize</key>
                <string>{257,139}</string>
            </dict>
            <key>nuqi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,192},{258,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{258,122}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>nuqi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,81},{197,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,89}}</string>
                <key>sourceSize</key>
                <string>{199,89}</string>
            </dict>
            <key>nuqi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{110,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,77}}</string>
                <key>sourceSize</key>
                <string>{112,79}</string>
            </dict>
            <key>pena-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{129,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,81}}</string>
                <key>sourceSize</key>
                <string>{129,81}</string>
            </dict>
            <key>pena-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{122,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,66}}</string>
                <key>sourceSize</key>
                <string>{122,66}</string>
            </dict>
            <key>pena-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{72,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{72,55}</string>
            </dict>
            <key>xiazabo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{180,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,185}}</string>
                <key>sourceSize</key>
                <string>{180,185}</string>
            </dict>
            <key>xiazabo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1499},{410,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,330}}</string>
                <key>sourceSize</key>
                <string>{410,330}</string>
            </dict>
            <key>xiazabo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1455},{317,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,323}}</string>
                <key>sourceSize</key>
                <string>{317,323}</string>
            </dict>
            <key>xiazabo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,704},{175,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,287}}</string>
                <key>sourceSize</key>
                <string>{175,287}</string>
            </dict>
            <key>xiazabo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,181},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{110,128}</string>
            </dict>
            <key>xiazabo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,181},{109,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,131}}</string>
                <key>sourceSize</key>
                <string>{109,131}</string>
            </dict>
            <key>xiazabo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,179},{108,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,131}}</string>
                <key>sourceSize</key>
                <string>{108,131}</string>
            </dict>
            <key>xiazabo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{103,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,83}}</string>
                <key>sourceSize</key>
                <string>{103,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosshero1tx.png</string>
            <key>size</key>
            <string>{1894,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b136e3321425b143342c0b35dea19034$</string>
            <key>textureFileName</key>
            <string>bosshero1tx.png</string>
        </dict>
    </dict>
</plist>
