<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianbao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1095},{173,166}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{173,166}}</string>
                <key>sourceSize</key>
                <string>{183,180}</string>
            </dict>
            <key>bianbao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,196},{169,130}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{169,130}}</string>
                <key>sourceSize</key>
                <string>{175,132}</string>
            </dict>
            <key>bianbao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,385},{167,241}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{167,241}}</string>
                <key>sourceSize</key>
                <string>{177,255}</string>
            </dict>
            <key>bianbao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,622},{151,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{151,194}}</string>
                <key>sourceSize</key>
                <string>{155,198}</string>
            </dict>
            <key>bianbao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,196},{233,187}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{233,187}}</string>
                <key>sourceSize</key>
                <string>{239,199}</string>
            </dict>
            <key>bianbao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1209},{212,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{212,128}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>bianbao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,636},{218,115}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{218,115}}</string>
                <key>sourceSize</key>
                <string>{232,127}</string>
            </dict>
            <key>bianbao-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,775},{183,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{183,68}}</string>
                <key>sourceSize</key>
                <string>{185,72}</string>
            </dict>
            <key>bianbao-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,926},{179,177}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{179,177}}</string>
                <key>sourceSize</key>
                <string>{193,189}</string>
            </dict>
            <key>bianbao-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1093},{158,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{158,164}}</string>
                <key>sourceSize</key>
                <string>{162,166}</string>
            </dict>
            <key>bianbao-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,702},{219,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{219,114}}</string>
                <key>sourceSize</key>
                <string>{237,122}</string>
            </dict>
            <key>bianbao-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1263},{192,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{192,64}}</string>
                <key>sourceSize</key>
                <string>{204,70}</string>
            </dict>
            <key>bianguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,946},{261,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,150}}</string>
                <key>sourceSize</key>
                <string>{261,150}</string>
            </dict>
            <key>bianguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{556,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,254}}</string>
                <key>sourceSize</key>
                <string>{556,254}</string>
            </dict>
            <key>bianguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{560,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,244}}</string>
                <key>sourceSize</key>
                <string>{560,244}</string>
            </dict>
            <key>guangxiao1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,554},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>guangxiao1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1194},{138,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,145}}</string>
                <key>sourceSize</key>
                <string>{138,145}</string>
            </dict>
            <key>guangxiao1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,949},{138,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{138,142}</string>
            </dict>
            <key>guangxiao1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,960},{129,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{129,133}</string>
            </dict>
            <key>guangxiao1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1197},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{108,107}</string>
            </dict>
            <key>guangxiao1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1085},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>guangxiao1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1274},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>guangxiao1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,828},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>guangxiao1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,937},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>guangxiao2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1197},{75,73}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{75,73}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>guangxiao2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1262},{77,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{77,77}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>guangxiao2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1259},{79,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{79,79}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>guangxiao2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,838},{85,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>guangxiao2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1262},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{77,83}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>guangxiao2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,470},{73,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{73,73}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>jianmo_slash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,775},{175,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{175,178}}</string>
                <key>sourceSize</key>
                <string>{175,180}</string>
            </dict>
            <key>jianmo_slash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,952},{141,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{141,185}}</string>
                <key>sourceSize</key>
                <string>{143,187}</string>
            </dict>
            <key>jianmo_slash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,775},{172,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{172,140}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>jianmo_slash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,554},{173,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,89}}</string>
                <key>sourceSize</key>
                <string>{175,91}</string>
            </dict>
            <key>jianmo_slash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,470},{212,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{212,164}}</string>
                <key>sourceSize</key>
                <string>{214,166}</string>
            </dict>
            <key>jianmo_slash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,753},{199,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,171}}</string>
                <key>sourceSize</key>
                <string>{199,171}</string>
            </dict>
            <key>jianmo_slash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,470},{219,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{219,150}}</string>
                <key>sourceSize</key>
                <string>{221,150}</string>
            </dict>
            <key>jianmo_slash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1105},{218,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,102}}</string>
                <key>sourceSize</key>
                <string>{220,104}</string>
            </dict>
            <key>kaiqijianmo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1209},{136,128}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{136,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,645},{134,128}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,41},{134,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,554},{136,146}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{136,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1209},{130,150}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{130,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,367},{122,148}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{122,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,944},{104,128}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{104,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,838},{104,128}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{104,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1015},{68,64}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{68,64}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>shuaibian-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1074},{108,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,121}}</string>
                <key>sourceSize</key>
                <string>{108,121}</string>
            </dict>
            <key>shuaibian-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,689},{137,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,111}}</string>
                <key>sourceSize</key>
                <string>{137,111}</string>
            </dict>
            <key>shuaibian-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,517},{170,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,88}}</string>
                <key>sourceSize</key>
                <string>{170,88}</string>
            </dict>
            <key>shuaibian-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,1095},{165,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,104}}</string>
                <key>sourceSize</key>
                <string>{165,104}</string>
            </dict>
            <key>shuaibian-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,688},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>shuaibian-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,946},{480,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,246}}</string>
                <key>sourceSize</key>
                <string>{480,246}</string>
            </dict>
            <key>shuaibian-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{494,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,289}}</string>
                <key>sourceSize</key>
                <string>{494,289}</string>
            </dict>
            <key>shuaibian-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,702},{486,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,242}}</string>
                <key>sourceSize</key>
                <string>{486,242}</string>
            </dict>
            <key>shuaibian-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{528,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,275}}</string>
                <key>sourceSize</key>
                <string>{528,275}</string>
            </dict>
            <key>shuaibian-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{562,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,262}}</string>
                <key>sourceSize</key>
                <string>{562,262}</string>
            </dict>
            <key>shuaibian-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,259}}</string>
                <key>sourceSize</key>
                <string>{570,259}</string>
            </dict>
            <key>shuaibian-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,258},{512,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,252}}</string>
                <key>sourceSize</key>
                <string>{512,252}</string>
            </dict>
            <key>shuaibian-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,512},{495,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,188}}</string>
                <key>sourceSize</key>
                <string>{495,188}</string>
            </dict>
            <key>shuaibian-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,2},{337,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,192}}</string>
                <key>sourceSize</key>
                <string>{337,192}</string>
            </dict>
            <key>shuaibian-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1194},{237,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,137}}</string>
                <key>sourceSize</key>
                <string>{237,137}</string>
            </dict>
            <key>shuaibian-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{539,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,236}}</string>
                <key>sourceSize</key>
                <string>{539,236}</string>
            </dict>
            <key>shuaibian-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,240},{546,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,228}}</string>
                <key>sourceSize</key>
                <string>{546,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossjianmotx.png</string>
            <key>size</key>
            <string>{2047,1341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42c005ab384e49256a71f31d7a3fb5d2$</string>
            <key>textureFileName</key>
            <string>bossjianmotx.png</string>
        </dict>
    </dict>
</plist>
