<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dalong_ci.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{120,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,300}}</string>
                <key>sourceSize</key>
                <string>{120,300}</string>
            </dict>
            <key>dalong_ci2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{120,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,300}}</string>
                <key>sourceSize</key>
                <string>{120,300}</string>
            </dict>
            <key>leiluo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,969},{143,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,59}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>leiluo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,654},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{154,60}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>leiluo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,716},{150,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{150,102}}</string>
                <key>sourceSize</key>
                <string>{154,106}</string>
            </dict>
            <key>leiluo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1068},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,52}}</string>
                <key>sourceSize</key>
                <string>{128,60}</string>
            </dict>
            <key>leiluo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1017},{124,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,49}}</string>
                <key>sourceSize</key>
                <string>{130,53}</string>
            </dict>
            <key>leiluo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,304},{133,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,104}}</string>
                <key>sourceSize</key>
                <string>{139,108}</string>
            </dict>
            <key>leiyun-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{350,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,85}}</string>
                <key>sourceSize</key>
                <string>{350,85}</string>
            </dict>
            <key>leiyun-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{350,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,85}}</string>
                <key>sourceSize</key>
                <string>{350,85}</string>
            </dict>
            <key>leiyun-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{352,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,85}}</string>
                <key>sourceSize</key>
                <string>{352,85}</string>
            </dict>
            <key>leiyun-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{350,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,85}}</string>
                <key>sourceSize</key>
                <string>{350,85}</string>
            </dict>
            <key>leiyun-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{383,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,106}}</string>
                <key>sourceSize</key>
                <string>{383,106}</string>
            </dict>
            <key>leiyun-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{372,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,109}}</string>
                <key>sourceSize</key>
                <string>{372,109}</string>
            </dict>
            <key>leiyun-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{366,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,104}}</string>
                <key>sourceSize</key>
                <string>{366,104}</string>
            </dict>
            <key>leiyun-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{363,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{363,93}}</string>
                <key>sourceSize</key>
                <string>{365,93}</string>
            </dict>
            <key>weiwei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1122},{57,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,110}}</string>
                <key>sourceSize</key>
                <string>{57,112}</string>
            </dict>
            <key>weiwei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1112},{47,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>weiwei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1112},{41,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,63}}</string>
                <key>sourceSize</key>
                <string>{41,63}</string>
            </dict>
            <key>weiwei4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1112},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>weiwei5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1112},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>weiwei6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,973},{42,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,125}}</string>
                <key>sourceSize</key>
                <string>{42,125}</string>
            </dict>
            <key>yunjianglei-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{126,332}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,332}}</string>
                <key>sourceSize</key>
                <string>{128,334}</string>
            </dict>
            <key>yunjianglei-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,410},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{147,242}</string>
            </dict>
            <key>yunjianglei-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,820},{174,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,147}}</string>
                <key>sourceSize</key>
                <string>{178,149}</string>
            </dict>
            <key>yunjianglei-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1030},{187,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{187,80}}</string>
                <key>sourceSize</key>
                <string>{193,82}</string>
            </dict>
            <key>yunjianglei-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,898},{206,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{206,73}}</string>
                <key>sourceSize</key>
                <string>{212,81}</string>
            </dict>
            <key>yunjianglei-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,973},{212,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{212,67}}</string>
                <key>sourceSize</key>
                <string>{220,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossdalongtx.png</string>
            <key>size</key>
            <string>{512,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7edfffb2aacbe17cc3ea42c08db57d89$</string>
            <key>textureFileName</key>
            <string>bossdalongtx.png</string>
        </dict>
    </dict>
</plist>
