<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bosshero1/WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,154}}</string>
                <key>sourceSize</key>
                <string>{43,154}</string>
            </dict>
            <key>bosshero1/body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,47},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>bosshero1/body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,40},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>bosshero1/body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,75},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>bosshero1/body4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,64},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>bosshero1/body5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>bosshero1/body6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,65},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>bosshero1/fa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,106},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>bosshero1/fa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,105},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>bosshero1/fa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,105},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>bosshero1/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,47},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>bosshero1/head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,33},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>bosshero1/head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>bosshero1/lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,47},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>bosshero1/lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,64},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>bosshero1/lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,104},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>bosshero1/lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>bosshero1/lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,77},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>bosshero1/lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,86},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bosshero1/lleg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,100},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>bosshero1/pi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,77},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>bosshero1/pi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,86},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>bosshero1/pi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,46},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>bosshero1/rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,76},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>bosshero1/rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>bosshero1/rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,85},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>bosshero1/rhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,100},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>bosshero1/rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>bosshero1/rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,47},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>bosshero1/rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,85},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosshero1body.png</string>
            <key>size</key>
            <string>{256,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4321271a59377521cb365dd5f296d197$</string>
            <key>textureFileName</key>
            <string>bosshero1body.png</string>
        </dict>
    </dict>
</plist>
