<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuangbao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,146}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,146}}</string>
                <key>sourceSize</key>
                <string>{78,154}</string>
            </dict>
            <key>kuangbao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{77,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>kuangbao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{78,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,128}}</string>
                <key>sourceSize</key>
                <string>{78,128}</string>
            </dict>
            <key>kuangbao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{77,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,138}}</string>
                <key>sourceSize</key>
                <string>{77,138}</string>
            </dict>
            <key>kuangbao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{77,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,138}}</string>
                <key>sourceSize</key>
                <string>{77,138}</string>
            </dict>
            <key>kuangbao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{77,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,140}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>kuangbao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{77,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,140}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buffkuangbaobody.png</string>
            <key>size</key>
            <string>{82,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36a6ea19fa98030816445c0426b6a5ae$</string>
            <key>textureFileName</key>
            <string>buffkuangbaobody.png</string>
        </dict>
    </dict>
</plist>
