<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{58,60}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,84},{58,60}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,122},{66,88}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,73},{66,88}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,122},{78,116}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,46},{78,116}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,114},{96,142}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,20},{96,142}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{110,152}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{110,152}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>chibang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,148}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{116,148}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>chibang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{118,142}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{118,142}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chibang.png</string>
            <key>size</key>
            <string>{450,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dcb6cc226c90f0bc9ed847220328512$</string>
            <key>textureFileName</key>
            <string>chibang.png</string>
        </dict>
    </dict>
</plist>
