<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1730-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,63},{27,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,61}}</string>
                <key>sourceSize</key>
                <string>{27,61}</string>
            </dict>
            <key>1730-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{29,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>1730-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,65},{26,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,60}}</string>
                <key>sourceSize</key>
                <string>{26,60}</string>
            </dict>
            <key>1730-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,65},{26,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,60}}</string>
                <key>sourceSize</key>
                <string>{26,60}</string>
            </dict>
            <key>1730-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,62}}</string>
                <key>sourceSize</key>
                <string>{31,62}</string>
            </dict>
            <key>1730-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,33},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>1730-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{31,61}</string>
            </dict>
            <key>1730-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>feiji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,63},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dadaodanbody.png</string>
            <key>size</key>
            <string>{151,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a15680a171700af6ee216f9d8f7830ba$</string>
            <key>textureFileName</key>
            <string>dadaodanbody.png</string>
        </dict>
    </dict>
</plist>
