<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dahuoqiu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,101}}</string>
                <key>sourceSize</key>
                <string>{164,101}</string>
            </dict>
            <key>dahuoqiu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,102}}</string>
                <key>sourceSize</key>
                <string>{164,102}</string>
            </dict>
            <key>dahuoqiu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{160,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,95}}</string>
                <key>sourceSize</key>
                <string>{160,95}</string>
            </dict>
            <key>dahuoqiu-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{150,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,95}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>dahuoqiu-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{158,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,99}}</string>
                <key>sourceSize</key>
                <string>{158,99}</string>
            </dict>
            <key>dahuoqiu-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{164,100}</string>
            </dict>
            <key>dahuoqiu-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{162,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{162,99}}</string>
                <key>sourceSize</key>
                <string>{164,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dahuoqiubody.png</string>
            <key>size</key>
            <string>{1138,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d6e3de77b8c31397dee3e2c15df4a9$</string>
            <key>textureFileName</key>
            <string>dahuoqiubody.png</string>
        </dict>
    </dict>
</plist>
