<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianmo-dead0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{295,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{295,246}}</string>
                <key>sourceSize</key>
                <string>{297,248}</string>
            </dict>
            <key>jianmo-dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1307},{382,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{382,303}}</string>
                <key>sourceSize</key>
                <string>{384,305}</string>
            </dict>
            <key>jianmo-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{395,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{395,318}}</string>
                <key>sourceSize</key>
                <string>{395,320}</string>
            </dict>
            <key>jianmo-dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{407,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{407,325}}</string>
                <key>sourceSize</key>
                <string>{409,325}</string>
            </dict>
            <key>jianmo-dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{414,326}}</string>
                <key>sourceSize</key>
                <string>{416,326}</string>
            </dict>
            <key>jianmo-dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{412,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{412,328}}</string>
                <key>sourceSize</key>
                <string>{414,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dead.png</string>
            <key>size</key>
            <string>{418,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22bbaefba448756ae951367de722fc93$</string>
            <key>textureFileName</key>
            <string>dead.png</string>
        </dict>
    </dict>
</plist>
