<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianbao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1668},{82,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>dianbao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1577},{118,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,89}}</string>
                <key>sourceSize</key>
                <string>{118,89}</string>
            </dict>
            <key>dianbao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1417},{158,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,124}}</string>
                <key>sourceSize</key>
                <string>{158,128}</string>
            </dict>
            <key>dianbao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{159,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,137}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>dianbao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,152}}</string>
                <key>sourceSize</key>
                <string>{162,156}</string>
            </dict>
            <key>dianbao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{165,149}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,163}</string>
            </dict>
            <key>dianbao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{170,150}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{170,150}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>dianbao-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{169,149}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,149}}</string>
                <key>sourceSize</key>
                <string>{169,153}</string>
            </dict>
            <key>dianbao-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{155,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{155,149}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>dianbao-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{147,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{147,145}}</string>
                <key>sourceSize</key>
                <string>{159,153}</string>
            </dict>
            <key>dianbao-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{138,142}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{138,142}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>dianbao-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{134,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{134,140}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianbao.png</string>
            <key>size</key>
            <string>{156,1752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53179764ee788cbac592695bdc040688$</string>
            <key>textureFileName</key>
            <string>dianbao.png</string>
        </dict>
    </dict>
</plist>
