<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diceng-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,103},{96,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,38}}</string>
                <key>sourceSize</key>
                <string>{96,38}</string>
            </dict>
            <key>diceng-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{247,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,99}}</string>
                <key>sourceSize</key>
                <string>{247,99}</string>
            </dict>
            <key>diceng-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{277,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,128}}</string>
                <key>sourceSize</key>
                <string>{277,128}</string>
            </dict>
            <key>diceng-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{285,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,132}}</string>
                <key>sourceSize</key>
                <string>{285,132}</string>
            </dict>
            <key>diceng-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{287,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,137}}</string>
                <key>sourceSize</key>
                <string>{287,137}</string>
            </dict>
            <key>diceng-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,145}}</string>
                <key>sourceSize</key>
                <string>{303,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diceng.png</string>
            <key>size</key>
            <string>{1411,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e859711c1768f623e088be727caa0a1a$</string>
            <key>textureFileName</key>
            <string>diceng.png</string>
        </dict>
    </dict>
</plist>
