<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dilie00-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,292},{132,132}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,149},{132,132}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{190,274}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{190,274}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{190,286}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{190,286}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{190,294}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,294}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,300}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{186,300}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{176,288}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{176,288}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,290},{172,278}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{172,278}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{158,260}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{158,260}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>dilie00-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,298},{156,254}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,46},{156,254}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diliebao.png</string>
            <key>size</key>
            <string>{944,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:156c701b653b09cf672007bf3a902e5f$</string>
            <key>textureFileName</key>
            <string>diliebao.png</string>
        </dict>
    </dict>
</plist>
