<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuloufashi5-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{165,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,110}}</string>
                <key>sourceSize</key>
                <string>{165,110}</string>
            </dict>
            <key>kuloufashi5-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{119,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,112}}</string>
                <key>sourceSize</key>
                <string>{119,112}</string>
            </dict>
            <key>kuloufashi5-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,105}</string>
            </dict>
            <key>kuloufashi5-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>kuloufashi5-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,2},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>kuloufashi5-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{94,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>qunmo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{163,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,107}}</string>
                <key>sourceSize</key>
                <string>{165,113}</string>
            </dict>
            <key>qunmo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{152,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{152,101}}</string>
                <key>sourceSize</key>
                <string>{156,103}</string>
            </dict>
            <key>qunmo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{135,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,109}}</string>
                <key>sourceSize</key>
                <string>{135,111}</string>
            </dict>
            <key>qunmo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{136,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,109}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>qunmo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2},{140,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,107}}</string>
                <key>sourceSize</key>
                <string>{142,109}</string>
            </dict>
            <key>qunmo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{154,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{154,95}</string>
            </dict>
            <key>qunmo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,2},{150,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,104}</string>
            </dict>
            <key>qunmo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{151,114}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fashi5tx.png</string>
            <key>size</key>
            <string>{1906,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:370e6b4b116a639527a677245265c341$</string>
            <key>textureFileName</key>
            <string>fashi5tx.png</string>
        </dict>
    </dict>
</plist>
