<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_bomb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,141},{79,64}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{79,64}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,137},{87,72}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{87,72}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,130},{95,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{95,80}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{97,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{97,80}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,126},{99,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{99,80}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,141},{81,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{81,80}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{105,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{101,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{101,124}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,128},{97,118}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{97,118}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{73,78}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{73,78}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>ice_bomb0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,77},{73,62}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{73,62}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>jubing-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,226}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{203,226}}</string>
                <key>sourceSize</key>
                <string>{211,234}</string>
            </dict>
            <key>jubing-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{189,190}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{189,190}}</string>
                <key>sourceSize</key>
                <string>{211,234}</string>
            </dict>
            <key>jubing-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{133,120}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,45},{133,120}}</string>
                <key>sourceSize</key>
                <string>{211,234}</string>
            </dict>
            <key>jubing-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,137},{87,90}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,45},{87,90}}</string>
                <key>sourceSize</key>
                <string>{211,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fashi4tx.png</string>
            <key>size</key>
            <string>{1022,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95180108ae58d57a80fdd93fb99be58$</string>
            <key>textureFileName</key>
            <string>fashi4tx.png</string>
        </dict>
    </dict>
</plist>
