<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_BODY_FS2/fashi2-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{66,129}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,129}}</string>
                <key>sourceSize</key>
                <string>{76,129}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,70},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,70},{51,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{51,47}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,70},{37,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,55}}</string>
                <key>sourceSize</key>
                <string>{37,55}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-hip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,66},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,98},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,70},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,41},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,24},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,98},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,98},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>NPC_BODY_FS2/fashi2-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{19,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_BODY_FS2/fashi2body.png</string>
            <key>size</key>
            <string>{263,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12498b461198a2aea4aa58b43b538598$</string>
            <key>textureFileName</key>
            <string>NPC_BODY_FS2/fashi2body.png</string>
        </dict>
    </dict>
</plist>
