<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_BODY_FS3/fashi3-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{70,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{70,130}}</string>
                <key>sourceSize</key>
                <string>{86,130}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,74},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,74},{51,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{51,47}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,27},{37,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,55}}</string>
                <key>sourceSize</key>
                <string>{37,55}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-hip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,97},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,98},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,74},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,74},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,84},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,98},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,98},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>NPC_BODY_FS3/fashi3-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,84},{19,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_BODY_FS3/fashi3body.png</string>
            <key>size</key>
            <string>{267,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:185a6815a863d745de6e62f6b6052167$</string>
            <key>textureFileName</key>
            <string>NPC_BODY_FS3/fashi3body.png</string>
        </dict>
    </dict>
</plist>
