<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gong2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,90}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{271,90}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gong2-3body.png</string>
            <key>size</key>
            <string>{275,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2f41ec0967c504dc4dd18ec2e1eb384$</string>
            <key>textureFileName</key>
            <string>gong2-3body.png</string>
        </dict>
    </dict>
</plist>
