<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Graves_fire2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,118}}</string>
                <key>sourceSize</key>
                <string>{55,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Graves_fire0body.png</string>
            <key>size</key>
            <string>{59,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861e8dd23e2048219e0b7a4259d0a80f$</string>
            <key>textureFileName</key>
            <string>Graves_fire0body.png</string>
        </dict>
    </dict>
</plist>
