<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1452-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>1452-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>1452-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>1452-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>1452-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>1452-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>1452-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>1452-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>1452-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>1452-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gunshibody.png</string>
            <key>size</key>
            <string>{798,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:854de1719fdbad603791644c1c7c0446$</string>
            <key>textureFileName</key>
            <string>gunshibody.png</string>
        </dict>
    </dict>
</plist>
