<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ditouguang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,304},{232,286}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{232,286}}</string>
                <key>sourceSize</key>
                <string>{244,300}</string>
            </dict>
            <key>ditouguang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,592},{229,281}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{229,281}}</string>
                <key>sourceSize</key>
                <string>{239,293}</string>
            </dict>
            <key>guangbaoa-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,865},{102,101}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{102,101}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>guangbaoa-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,591},{170,155}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{170,155}}</string>
                <key>sourceSize</key>
                <string>{180,169}</string>
            </dict>
            <key>guangbaoa-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{167,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{167,152}}</string>
                <key>sourceSize</key>
                <string>{167,158}</string>
            </dict>
            <key>guangbaoa-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,171},{140,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{140,140}}</string>
                <key>sourceSize</key>
                <string>{162,152}</string>
            </dict>
            <key>guangbaoa-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,172},{140,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{140,138}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>guangdilie-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,763},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>guangdilie-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,313},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>guangdilie-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,313},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>guangdilie-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,70},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>guangji1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,606},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,304},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,622},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,304},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,673},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangji1-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{258,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,300}}</string>
                <key>sourceSize</key>
                <string>{258,300}</string>
            </dict>
            <key>guangluoxia-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,767},{87,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{87,99}}</string>
                <key>sourceSize</key>
                <string>{99,111}</string>
            </dict>
            <key>guangluoxia-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,847},{105,157}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{105,157}}</string>
                <key>sourceSize</key>
                <string>{115,165}</string>
            </dict>
            <key>guangluoxia-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,924},{109,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{109,171}}</string>
                <key>sourceSize</key>
                <string>{119,177}</string>
            </dict>
            <key>guangpopo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,908},{187,186}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,59},{187,186}}</string>
                <key>sourceSize</key>
                <string>{319,312}</string>
            </dict>
            <key>guangpopo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{267,264}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{267,264}}</string>
                <key>sourceSize</key>
                <string>{319,312}</string>
            </dict>
            <key>guangpopo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,271},{267,252}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,33},{267,252}}</string>
                <key>sourceSize</key>
                <string>{319,312}</string>
            </dict>
            <key>guangpopo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,304},{277,254}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,27},{277,254}}</string>
                <key>sourceSize</key>
                <string>{319,312}</string>
            </dict>
            <key>guangpopo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,583},{277,250}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,33},{277,250}}</string>
                <key>sourceSize</key>
                <string>{319,312}</string>
            </dict>
            <key>guangpopo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,428},{161,178}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,77},{161,178}}</string>
                <key>sourceSize</key>
                <string>{319,312}</string>
            </dict>
            <key>guangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,606},{14,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,259}}</string>
                <key>sourceSize</key>
                <string>{14,259}</string>
            </dict>
            <key>herodazhaobao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,908},{189,114}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{189,114}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>herodazhaobao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,975},{186,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{186,116}}</string>
                <key>sourceSize</key>
                <string>{202,126}</string>
            </dict>
            <key>herodazhaobao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,312},{184,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{184,114}}</string>
                <key>sourceSize</key>
                <string>{200,122}</string>
            </dict>
            <key>herodazhaobao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{189,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{189,118}}</string>
                <key>sourceSize</key>
                <string>{213,126}</string>
            </dict>
            <key>herodazhaobao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,975},{180,115}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{180,115}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>herodazhaobao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,954},{168,106}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{168,106}}</string>
                <key>sourceSize</key>
                <string>{208,136}</string>
            </dict>
            <key>herodazhaobao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,767},{169,78}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{169,78}}</string>
                <key>sourceSize</key>
                <string>{187,122}</string>
            </dict>
            <key>luomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{669,359}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,359}}</string>
                <key>sourceSize</key>
                <string>{669,365}</string>
            </dict>
            <key>shanshuo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,924},{174,170}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{174,170}}</string>
                <key>sourceSize</key>
                <string>{222,234}</string>
            </dict>
            <key>shanshuo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,540},{208,225}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{208,225}}</string>
                <key>sourceSize</key>
                <string>{234,247}</string>
            </dict>
            <key>shanshuo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,875},{225,233}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{225,233}}</string>
                <key>sourceSize</key>
                <string>{237,247}</string>
            </dict>
            <key>shanshuo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,862},{233,251}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{233,251}}</string>
                <key>sourceSize</key>
                <string>{241,255}</string>
            </dict>
            <key>shanshuo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,2},{231,251}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{231,251}}</string>
                <key>sourceSize</key>
                <string>{237,253}</string>
            </dict>
            <key>shizijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{209,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{209,66}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>skill2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,172},{94,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{94,96}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>skill2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,591},{130,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{130,132}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>skill2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,968},{100,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>skill2-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,865},{102,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{102,102}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero4tx.png</string>
            <key>size</key>
            <string>{2024,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a488af0e45b29ddc58f41fc7c27494$</string>
            <key>textureFileName</key>
            <string>hero4tx.png</string>
        </dict>
    </dict>
</plist>
