<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heiying.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,183},{176,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,155}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>huiqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,158},{153,151}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{153,151}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>huiqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,313},{80,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{80,118}}</string>
                <key>sourceSize</key>
                <string>{90,134}</string>
            </dict>
            <key>huiqiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,324},{75,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{75,80}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>huiqiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{39,58}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{39,58}}</string>
                <key>sourceSize</key>
                <string>{57,76}</string>
            </dict>
            <key>huopen-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,324},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>huopen-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,346},{87,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,94}}</string>
                <key>sourceSize</key>
                <string>{87,94}</string>
            </dict>
            <key>huopen-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,219},{76,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,99}}</string>
                <key>sourceSize</key>
                <string>{76,99}</string>
            </dict>
            <key>huopen-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,139},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>huopen-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,329},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>nanqiang_chongci_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,73}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{195,73}}</string>
                <key>sourceSize</key>
                <string>{217,79}</string>
            </dict>
            <key>nanqiang_chongci_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,177},{173,71}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{173,71}}</string>
                <key>sourceSize</key>
                <string>{217,79}</string>
            </dict>
            <key>nanqiang_chongci_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,176},{171,75}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{171,75}}</string>
                <key>sourceSize</key>
                <string>{217,79}</string>
            </dict>
            <key>nanqiang_fire2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,185},{95,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{95,65}}</string>
                <key>sourceSize</key>
                <string>{101,65}</string>
            </dict>
            <key>nanqiang_fire2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{158,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,67}}</string>
                <key>sourceSize</key>
                <string>{158,67}</string>
            </dict>
            <key>nanqiang_fire2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{190,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,83}}</string>
                <key>sourceSize</key>
                <string>{190,83}</string>
            </dict>
            <key>nanqiang_fire2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,346},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>nanqiang_fire2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,239},{90,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
            <key>nanqiang_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{147,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,125}}</string>
                <key>sourceSize</key>
                <string>{147,125}</string>
            </dict>
            <key>nanqiang_fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,169},{163,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,128}}</string>
                <key>sourceSize</key>
                <string>{163,128}</string>
            </dict>
            <key>nanqiang_fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,297},{137,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,135}}</string>
                <key>sourceSize</key>
                <string>{137,135}</string>
            </dict>
            <key>nanqiang_fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,2},{129,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,140}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>nanqiang_fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,66},{117,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,132}}</string>
                <key>sourceSize</key>
                <string>{119,132}</string>
            </dict>
            <key>penhuoqi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,373},{59,32}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{59,32}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>penhuoqi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,373},{100,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,61}}</string>
                <key>sourceSize</key>
                <string>{106,69}</string>
            </dict>
            <key>penhuoqi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,341},{91,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,74}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>penhuoqi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,313},{121,109}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{121,109}}</string>
                <key>sourceSize</key>
                <string>{131,119}</string>
            </dict>
            <key>penhuoqi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,297},{127,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,126}}</string>
                <key>sourceSize</key>
                <string>{133,130}</string>
            </dict>
            <key>penhuoqi-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,151},{132,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{132,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>penhuoqi-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,2},{127,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{127,162}}</string>
                <key>sourceSize</key>
                <string>{135,164}</string>
            </dict>
            <key>penhuoqi-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,179},{122,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,174}}</string>
                <key>sourceSize</key>
                <string>{126,180}</string>
            </dict>
            <key>penhuoqi-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,176},{123,168}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{123,168}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>penhuoqi-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{99,173}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{99,173}}</string>
                <key>sourceSize</key>
                <string>{105,179}</string>
            </dict>
            <key>penhuoqi-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{93,185}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{93,185}}</string>
                <key>sourceSize</key>
                <string>{97,197}</string>
            </dict>
            <key>penhuoqi-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,2},{101,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{101,154}}</string>
                <key>sourceSize</key>
                <string>{105,158}</string>
            </dict>
            <key>penhuoqi-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{94,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{94,168}}</string>
                <key>sourceSize</key>
                <string>{102,172}</string>
            </dict>
            <key>penhuoqi-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,172},{102,167}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{102,167}}</string>
                <key>sourceSize</key>
                <string>{106,183}</string>
            </dict>
            <key>penhuoqi-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,2},{110,135}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,61},{110,135}}</string>
                <key>sourceSize</key>
                <string>{114,197}</string>
            </dict>
            <key>qiangji-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,349},{84,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,76}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>qiangji-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,352},{70,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>qiangji-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,252},{64,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{64,78}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>qiangyan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,318},{73,77}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{73,77}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>qiangyan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,361},{73,79}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{73,79}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>qiangyan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,355},{75,79}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{75,79}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>qiangyan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,361},{73,79}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{73,79}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>qiangyan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,252},{65,77}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{65,77}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>qiangyan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,373},{63,49}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{63,49}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>qiangyan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,381},{51,45}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{51,45}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>sanhuo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{135,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{135,125}}</string>
                <key>sourceSize</key>
                <string>{151,125}</string>
            </dict>
            <key>sanhuo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,334},{145,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{145,99}}</string>
                <key>sourceSize</key>
                <string>{151,103}</string>
            </dict>
            <key>sanhuo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,144},{139,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{139,68}}</string>
                <key>sourceSize</key>
                <string>{151,74}</string>
            </dict>
            <key>sanhuo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,2},{135,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{135,62}}</string>
                <key>sourceSize</key>
                <string>{151,74}</string>
            </dict>
            <key>sanhuo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,391},{128,36}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{128,36}}</string>
                <key>sourceSize</key>
                <string>{138,50}</string>
            </dict>
            <key>zuihou-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,114},{123,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>zuihou-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{147,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,172}}</string>
                <key>sourceSize</key>
                <string>{147,172}</string>
            </dict>
            <key>zuihou-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{147,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,175}}</string>
                <key>sourceSize</key>
                <string>{147,175}</string>
            </dict>
            <key>zuihou-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{147,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,179}}</string>
                <key>sourceSize</key>
                <string>{147,179}</string>
            </dict>
            <key>zuihou-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,189},{147,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,182}}</string>
                <key>sourceSize</key>
                <string>{147,182}</string>
            </dict>
            <key>zuihou-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,192},{138,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{138,187}</string>
            </dict>
            <key>zuihou-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{130,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,188}}</string>
                <key>sourceSize</key>
                <string>{130,188}</string>
            </dict>
            <key>zuihou-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,166},{113,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,161}}</string>
                <key>sourceSize</key>
                <string>{113,161}</string>
            </dict>
            <key>zuihou-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3tx.png</string>
            <key>size</key>
            <string>{2021,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26e00e0b99903ce0ea738243af8e6c7f$</string>
            <key>textureFileName</key>
            <string>hero3tx.png</string>
        </dict>
    </dict>
</plist>
