<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandianxiaoguo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,149}}</string>
                <key>sourceSize</key>
                <string>{190,149}</string>
            </dict>
            <key>shandianxiaoguo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{175,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,155}}</string>
                <key>sourceSize</key>
                <string>{175,155}</string>
            </dict>
            <key>shandianxiaoguo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{174,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,148}}</string>
                <key>sourceSize</key>
                <string>{174,148}</string>
            </dict>
            <key>shandianxiaoguo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{174,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,138}}</string>
                <key>sourceSize</key>
                <string>{174,138}</string>
            </dict>
            <key>shandianxiaoguo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>shandianxiaoguo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{142,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,151}}</string>
                <key>sourceSize</key>
                <string>{142,151}</string>
            </dict>
            <key>shandianxiaoguo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{128,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,182}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>shandianxiaoguo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,310},{125,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,172}}</string>
                <key>sourceSize</key>
                <string>{125,172}</string>
            </dict>
            <key>shot-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,832},{156,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,132}}</string>
                <key>sourceSize</key>
                <string>{158,132}</string>
            </dict>
            <key>shot-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,484},{163,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,128}}</string>
                <key>sourceSize</key>
                <string>{163,128}</string>
            </dict>
            <key>shot-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,152},{156,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,132}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>shot-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,657},{167,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,121}}</string>
                <key>sourceSize</key>
                <string>{167,121}</string>
            </dict>
            <key>shot-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,826},{160,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,132}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>shot-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,310},{169,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,132}}</string>
                <key>sourceSize</key>
                <string>{169,132}</string>
            </dict>
            <key>shot-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,486},{169,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,133}}</string>
                <key>sourceSize</key>
                <string>{169,133}</string>
            </dict>
            <key>shot-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,662},{168,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{172,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1dazhaobody.png</string>
            <key>size</key>
            <string>{424,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e153d455ff48ec986beed166e678bc7$</string>
            <key>textureFileName</key>
            <string>hero1dazhaobody.png</string>
        </dict>
    </dict>
</plist>
