<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,40},{55,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>zidanbo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{67,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{67,53}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>zidanbo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,97},{84,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{84,57}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>zidanbo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{91,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{91,62}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>zidanbo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,64}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>zidanbo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,183},{80,59}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{80,59}}</string>
                <key>sourceSize</key>
                <string>{98,69}</string>
            </dict>
            <key>zidanbo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{83,61}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{83,61}}</string>
                <key>sourceSize</key>
                <string>{99,71}</string>
            </dict>
            <key>zidanbo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,265},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>zidanbo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{32,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{32,36}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero2atkbody.png</string>
            <key>size</key>
            <string>{128,315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c649e549579c4e2e4c0905456030c96$</string>
            <key>textureFileName</key>
            <string>hero2atkbody.png</string>
        </dict>
    </dict>
</plist>
