<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongchongchong-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{310,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,105}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>chongchongchong-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,508},{310,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,105}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>chongci-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,545},{354,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,84}}</string>
                <key>sourceSize</key>
                <string>{354,84}</string>
            </dict>
            <key>chongci-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,551},{356,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,38}}</string>
                <key>sourceSize</key>
                <string>{356,38}</string>
            </dict>
            <key>chongci-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,551},{356,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,28}}</string>
                <key>sourceSize</key>
                <string>{356,28}</string>
            </dict>
            <key>chongci-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{355,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,8}}</string>
                <key>sourceSize</key>
                <string>{355,8}</string>
            </dict>
            <key>guanghua-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,314},{240,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,191}}</string>
                <key>sourceSize</key>
                <string>{240,191}</string>
            </dict>
            <key>guanghua-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,261},{228,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,181}}</string>
                <key>sourceSize</key>
                <string>{228,181}</string>
            </dict>
            <key>guanghua-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,522},{255,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,172}}</string>
                <key>sourceSize</key>
                <string>{255,172}</string>
            </dict>
            <key>guanghua-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{257,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,189}}</string>
                <key>sourceSize</key>
                <string>{257,189}</string>
            </dict>
            <key>guanghua-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,283},{226,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,191}}</string>
                <key>sourceSize</key>
                <string>{226,191}</string>
            </dict>
            <key>guanghua-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,522},{228,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,164}}</string>
                <key>sourceSize</key>
                <string>{228,164}</string>
            </dict>
            <key>guanghua-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,284},{211,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,143}}</string>
                <key>sourceSize</key>
                <string>{211,143}</string>
            </dict>
            <key>huaguo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,799},{213,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,125}}</string>
                <key>sourceSize</key>
                <string>{213,125}</string>
            </dict>
            <key>huaguo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,504},{293,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,143}}</string>
                <key>sourceSize</key>
                <string>{293,143}</string>
            </dict>
            <key>huaguo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,510},{320,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>huaguo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,539},{333,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,135}}</string>
                <key>sourceSize</key>
                <string>{333,135}</string>
            </dict>
            <key>huaguo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,545},{342,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,125}}</string>
                <key>sourceSize</key>
                <string>{342,125}</string>
            </dict>
            <key>jianhaodz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{302,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,299}}</string>
                <key>sourceSize</key>
                <string>{302,299}</string>
            </dict>
            <key>jianhaodz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,306},{196,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,195}}</string>
                <key>sourceSize</key>
                <string>{196,195}</string>
            </dict>
            <key>jianhaodzs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,874},{489,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,55}}</string>
                <key>sourceSize</key>
                <string>{489,55}</string>
            </dict>
            <key>jianhaodzs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,889},{205,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,23}}</string>
                <key>sourceSize</key>
                <string>{205,23}</string>
            </dict>
            <key>jianjizhan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,476},{169,42}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{169,42}}</string>
                <key>sourceSize</key>
                <string>{181,48}</string>
            </dict>
            <key>jianjizhan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,820},{185,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{185,49}}</string>
                <key>sourceSize</key>
                <string>{191,53}</string>
            </dict>
            <key>jianjizhan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,874},{126,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{126,49}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>jianjizhan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,752},{152,157}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{152,157}}</string>
                <key>sourceSize</key>
                <string>{176,185}</string>
            </dict>
            <key>jianjizhan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,779},{147,173}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{147,173}}</string>
                <key>sourceSize</key>
                <string>{187,179}</string>
            </dict>
            <key>jianjizhan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,281},{140,158}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{140,158}}</string>
                <key>sourceSize</key>
                <string>{154,164}</string>
            </dict>
            <key>jianjizhan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,441},{79,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{79,136}}</string>
                <key>sourceSize</key>
                <string>{87,142}</string>
            </dict>
            <key>kongci-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,306},{179,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,195}}</string>
                <key>sourceSize</key>
                <string>{179,195}</string>
            </dict>
            <key>kongci-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,2},{239,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,277}}</string>
                <key>sourceSize</key>
                <string>{239,277}</string>
            </dict>
            <key>kongci-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{243,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,279}}</string>
                <key>sourceSize</key>
                <string>{243,279}</string>
            </dict>
            <key>kongci-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,507},{232,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,296}}</string>
                <key>sourceSize</key>
                <string>{232,296}</string>
            </dict>
            <key>kongci-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,503},{217,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,291}}</string>
                <key>sourceSize</key>
                <string>{217,291}</string>
            </dict>
            <key>luoleizhan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,541}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{117,541}}</string>
                <key>sourceSize</key>
                <string>{141,571}</string>
            </dict>
            <key>luoleizhan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{119,535}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{119,535}}</string>
                <key>sourceSize</key>
                <string>{141,571}</string>
            </dict>
            <key>luoleizhan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,547}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{117,547}}</string>
                <key>sourceSize</key>
                <string>{141,571}</string>
            </dict>
            <key>luoleizhan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{158,506}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{158,506}}</string>
                <key>sourceSize</key>
                <string>{180,524}</string>
            </dict>
            <key>luoleizhan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{115,504}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{115,504}}</string>
                <key>sourceSize</key>
                <string>{147,522}</string>
            </dict>
            <key>luoleizhan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{48,368}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{48,368}}</string>
                <key>sourceSize</key>
                <string>{50,402}</string>
            </dict>
            <key>wave_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,752},{172,97}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,68},{172,97}}</string>
                <key>sourceSize</key>
                <string>{324,165}</string>
            </dict>
            <key>wave_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,2},{280,149}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{280,149}}</string>
                <key>sourceSize</key>
                <string>{324,165}</string>
            </dict>
            <key>wave_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,507},{302,151}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{302,151}}</string>
                <key>sourceSize</key>
                <string>{324,165}</string>
            </dict>
            <key>wave_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{304,151}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{304,151}}</string>
                <key>sourceSize</key>
                <string>{324,165}</string>
            </dict>
            <key>xunshan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,796},{132,69}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{132,69}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>xunshan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,805},{172,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{172,67}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>xunshan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,314},{192,57}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{192,57}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>xunshan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,811},{108,53}}</string>
                <key>offset</key>
                <string>{41,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,14},{108,53}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>yuan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,889},{28,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,51},{28,29}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>yuan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,609},{80,73}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{80,73}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>yuan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,491},{116,109}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{116,109}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>yuan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,805},{122,117}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{122,117}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>yuan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,620},{120,117}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{120,117}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>yuan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,522},{96,97}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{96,97}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero2tx.png</string>
            <key>size</key>
            <string>{2035,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35c1e37da1f52b2d84ec6667a78b547$</string>
            <key>textureFileName</key>
            <string>hero2tx.png</string>
        </dict>
    </dict>
</plist>
