<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bobobo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,788},{368,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{368,118}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{380,126}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{380,126}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{356,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{356,120}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,414},{372,128}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{372,128}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{378,128}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{378,128}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,414},{338,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{338,114}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{346,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{346,114}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>bobobo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,414},{356,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{356,120}}</string>
                <key>sourceSize</key>
                <string>{388,138}</string>
            </dict>
            <key>chong-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,2},{113,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,85}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>chong-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,810},{117,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,86}}</string>
                <key>sourceSize</key>
                <string>{123,86}</string>
            </dict>
            <key>chong-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{312,289}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{312,289}}</string>
                <key>sourceSize</key>
                <string>{350,345}</string>
            </dict>
            <key>ciquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,360},{127,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{127,52}}</string>
                <key>sourceSize</key>
                <string>{129,62}</string>
            </dict>
            <key>diguang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,739},{135,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,46}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>diguang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,739},{137,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,45}}</string>
                <key>sourceSize</key>
                <string>{137,45}</string>
            </dict>
            <key>diguang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,316},{127,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,27}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>diguang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,754},{122,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,31}}</string>
                <key>sourceSize</key>
                <string>{122,31}</string>
            </dict>
            <key>diguang2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,711},{97,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>diguang2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1156},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>diguang2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,604},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,95}</string>
            </dict>
            <key>diguang2-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,316},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>diliekai-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1046},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1050},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1050},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1158},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>diliekai-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,316},{183,94}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{183,94}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>guangte-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,834},{172,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{172,134}}</string>
                <key>sourceSize</key>
                <string>{186,142}</string>
            </dict>
            <key>guangte-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,400},{215,172}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{215,172}}</string>
                <key>sourceSize</key>
                <string>{221,178}</string>
            </dict>
            <key>guangte-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,625},{217,178}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{217,178}}</string>
                <key>sourceSize</key>
                <string>{225,184}</string>
            </dict>
            <key>guangte-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,851},{213,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{213,179}}</string>
                <key>sourceSize</key>
                <string>{221,187}</string>
            </dict>
            <key>guangte-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,786},{258,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,210}}</string>
                <key>sourceSize</key>
                <string>{258,210}</string>
            </dict>
            <key>hero1atk-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,786},{238,185}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,185}}</string>
                <key>sourceSize</key>
                <string>{240,191}</string>
            </dict>
            <key>hero1atk-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,259},{147,195}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{147,195}}</string>
                <key>sourceSize</key>
                <string>{161,197}</string>
            </dict>
            <key>hero1atk-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,929},{85,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{85,194}}</string>
                <key>sourceSize</key>
                <string>{91,200}</string>
            </dict>
            <key>hero1atk4-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{181,175}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{181,175}}</string>
                <key>sourceSize</key>
                <string>{187,177}</string>
            </dict>
            <key>hero1atk4-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,408},{245,193}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{245,193}}</string>
                <key>sourceSize</key>
                <string>{257,193}</string>
            </dict>
            <key>hero1atk4-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1026},{223,173}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{223,173}}</string>
                <key>sourceSize</key>
                <string>{227,177}</string>
            </dict>
            <key>hero1atk4-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,617},{215,141}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{215,141}}</string>
                <key>sourceSize</key>
                <string>{219,147}</string>
            </dict>
            <key>hero1atk4-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1026},{213,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,116}}</string>
                <key>sourceSize</key>
                <string>{223,118}</string>
            </dict>
            <key>hero1atk4-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,309},{121,71}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,71}}</string>
                <key>sourceSize</key>
                <string>{129,73}</string>
            </dict>
            <key>hero1atk42-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,660},{142,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{142,124}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>hero1atk42-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,257},{131,142}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>hero1atk42-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,655},{126,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{126,118}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>hero1atk42-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,89},{125,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>hero1atk42-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,388},{214,131}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{214,131}}</string>
                <key>sourceSize</key>
                <string>{220,139}</string>
            </dict>
            <key>hero1dazhao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,401},{222,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,130}}</string>
                <key>sourceSize</key>
                <string>{222,130}</string>
            </dict>
            <key>hero1dazhao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,385},{174,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,92}}</string>
                <key>sourceSize</key>
                <string>{174,92}</string>
            </dict>
            <key>hero1dazhao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,2},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>hero1dazhao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,2},{241,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,190}}</string>
                <key>sourceSize</key>
                <string>{241,190}</string>
            </dict>
            <key>hero1dazhao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,479},{196,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,172}}</string>
                <key>sourceSize</key>
                <string>{196,172}</string>
            </dict>
            <key>hero1dazhao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,245},{160,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,141}}</string>
                <key>sourceSize</key>
                <string>{160,141}</string>
            </dict>
            <key>hero1shangtiao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{302,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,185}}</string>
                <key>sourceSize</key>
                <string>{302,185}</string>
            </dict>
            <key>hero1shangtiao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,412},{213,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,260}}</string>
                <key>sourceSize</key>
                <string>{213,260}</string>
            </dict>
            <key>hero1shangtiao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,786},{262,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,261}}</string>
                <key>sourceSize</key>
                <string>{262,261}</string>
            </dict>
            <key>hero1zuoyoukan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,787},{292,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,93}}</string>
                <key>sourceSize</key>
                <string>{292,93}</string>
            </dict>
            <key>hero1zuoyoukan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,787},{267,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,140}}</string>
                <key>sourceSize</key>
                <string>{267,140}</string>
            </dict>
            <key>hero1zuoyoukan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2},{253,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,140}}</string>
                <key>sourceSize</key>
                <string>{253,140}</string>
            </dict>
            <key>hero1zuoyoukan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,350},{253,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,62}}</string>
                <key>sourceSize</key>
                <string>{253,62}</string>
            </dict>
            <key>hero1zuoyoukan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1026},{229,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,62}}</string>
                <key>sourceSize</key>
                <string>{229,62}</string>
            </dict>
            <key>nuqi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1046},{202,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{202,86}}</string>
                <key>sourceSize</key>
                <string>{204,88}</string>
            </dict>
            <key>nuqi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{255,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{255,139}}</string>
                <key>sourceSize</key>
                <string>{257,139}</string>
            </dict>
            <key>nuqi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,411},{258,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{258,122}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
            <key>nuqi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1046},{197,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,89}}</string>
                <key>sourceSize</key>
                <string>{199,89}</string>
            </dict>
            <key>nuqi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,674},{110,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,77}}</string>
                <key>sourceSize</key>
                <string>{112,79}</string>
            </dict>
            <key>shangtianguang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{80,161}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{96,161}</string>
            </dict>
            <key>shangtianguang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,783},{56,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,223}}</string>
                <key>sourceSize</key>
                <string>{56,223}</string>
            </dict>
            <key>shangtianguang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,2},{50,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,243}}</string>
                <key>sourceSize</key>
                <string>{50,243}</string>
            </dict>
            <key>shangtianguang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,408},{50,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,250}}</string>
                <key>sourceSize</key>
                <string>{50,250}</string>
            </dict>
            <key>xiazabo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,844},{180,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,185}}</string>
                <key>sourceSize</key>
                <string>{180,185}</string>
            </dict>
            <key>xiazabo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,330}}</string>
                <key>sourceSize</key>
                <string>{410,330}</string>
            </dict>
            <key>xiazabo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,414},{317,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,323}}</string>
                <key>sourceSize</key>
                <string>{317,323}</string>
            </dict>
            <key>xiazabo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1081},{175,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,287}}</string>
                <key>sourceSize</key>
                <string>{175,287}</string>
            </dict>
            <key>xiazabo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,674},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{110,128}</string>
            </dict>
            <key>xiazabo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,674},{109,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,131}}</string>
                <key>sourceSize</key>
                <string>{109,131}</string>
            </dict>
            <key>xiazabo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1125},{108,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,131}}</string>
                <key>sourceSize</key>
                <string>{108,131}</string>
            </dict>
            <key>xiazabo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,306},{103,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,83}}</string>
                <key>sourceSize</key>
                <string>{103,83}</string>
            </dict>
            <key>xuanzhuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,788},{366,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,212}}</string>
                <key>sourceSize</key>
                <string>{366,212}</string>
            </dict>
            <key>zhendang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,175},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,69}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>zhendang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,185},{122,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zhendang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,1066},{156,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{156,156}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>zhendang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,677},{172,172}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{172,172}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>zhendang-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,216},{167,167}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{167,167}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>zhendang-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,245},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{153,153}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>zhendang-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1008},{132,134}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,20},{132,134}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1tx.png</string>
            <key>size</key>
            <string>{2021,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a98a5e591cab5c8fa31da2d9600dcd75$</string>
            <key>textureFileName</key>
            <string>hero1tx.png</string>
        </dict>
    </dict>
</plist>
