<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dihuoquan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,33},{36,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>dihuoquan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{68,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{70,31}</string>
            </dict>
            <key>dihuoquan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,36}}</string>
                <key>sourceSize</key>
                <string>{104,40}</string>
            </dict>
            <key>dihuoquan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{113,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{113,45}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>dihuoquan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{123,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{123,51}}</string>
                <key>sourceSize</key>
                <string>{127,55}</string>
            </dict>
            <key>dihuoquan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,54}}</string>
                <key>sourceSize</key>
                <string>{131,58}</string>
            </dict>
            <key>dihuoquan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{108,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,42}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3skill2body.png</string>
            <key>size</key>
            <string>{655,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91bf6faf0ca362432130709ec088dd8d$</string>
            <key>textureFileName</key>
            <string>hero3skill2body.png</string>
        </dict>
    </dict>
</plist>
