<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Graves_fire1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,50}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{178,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{178,48}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{170,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{170,50}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{176,42}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{176,42}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{176,42}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{176,42}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{178,42}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{178,42}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{174,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{174,48}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>Graves_fire1-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{178,40}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{178,40}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>houyanbody.png</string>
            <key>size</key>
            <string>{1610,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f1fa3aace8b51ec4edd2eae00610ce$</string>
            <key>textureFileName</key>
            <string>houyanbody.png</string>
        </dict>
    </dict>
</plist>
