<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caidi-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{153,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,78}}</string>
                <key>sourceSize</key>
                <string>{153,78}</string>
            </dict>
            <key>caidi-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{169,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,81}}</string>
                <key>sourceSize</key>
                <string>{169,81}</string>
            </dict>
            <key>caidi-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,82}}</string>
                <key>sourceSize</key>
                <string>{178,84}</string>
            </dict>
            <key>caidi-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{176,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,65}}</string>
                <key>sourceSize</key>
                <string>{176,65}</string>
            </dict>
            <key>caidi-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{158,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huicheng.png</string>
            <key>size</key>
            <string>{846,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb43b29351adddb9dcdfe9474f5770c$</string>
            <key>textureFileName</key>
            <string>huicheng.png</string>
        </dict>
    </dict>
</plist>
