<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1046-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,93},{67,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,80}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>1046-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{65,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{65,76}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>1046-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{70,89}</string>
            </dict>
            <key>1046-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{66,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,84}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>1046-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{65,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{65,84}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>1046-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{64,83}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{64,83}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>1046-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,87},{64,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{64,76}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>1046-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,175},{68,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,80}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoqiubody.png</string>
            <key>size</key>
            <string>{205,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7032bc67738bc6edf8f2d47e4a5ef54e$</string>
            <key>textureFileName</key>
            <string>huoqiubody.png</string>
        </dict>
    </dict>
</plist>
