<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyanfengbao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,889},{163,132}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,84},{163,132}}</string>
                <key>sourceSize</key>
                <string>{223,222}</string>
            </dict>
            <key>huoyanfengbao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,685},{159,202}}</string>
                <key>offset</key>
                <string>{-7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,113},{159,202}}</string>
                <key>sourceSize</key>
                <string>{227,334}</string>
            </dict>
            <key>huoyanfengbao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{204,330}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{204,330}}</string>
                <key>sourceSize</key>
                <string>{248,346}</string>
            </dict>
            <key>huoyanfengbao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,337},{172,326}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{172,326}}</string>
                <key>sourceSize</key>
                <string>{248,348}</string>
            </dict>
            <key>huoyanfengbao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{207,328}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{207,328}}</string>
                <key>sourceSize</key>
                <string>{241,346}</string>
            </dict>
            <key>huoyanfengbao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{178,339}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{178,339}}</string>
                <key>sourceSize</key>
                <string>{242,353}</string>
            </dict>
            <key>huoyanfengbao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,360},{208,299}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{208,299}}</string>
                <key>sourceSize</key>
                <string>{246,355}</string>
            </dict>
            <key>huoyanfengbao-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,360},{174,323}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{174,323}}</string>
                <key>sourceSize</key>
                <string>{248,351}</string>
            </dict>
            <key>huoyanfengbao-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,333}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{208,333}}</string>
                <key>sourceSize</key>
                <string>{246,351}</string>
            </dict>
            <key>huoyanfengbao-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{201,327}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{201,327}}</string>
                <key>sourceSize</key>
                <string>{243,347}</string>
            </dict>
            <key>huoyanfengbao-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,182},{176,329}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{176,329}}</string>
                <key>sourceSize</key>
                <string>{246,343}</string>
            </dict>
            <key>huoyanfengbao-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,667},{154,328}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{154,328}}</string>
                <key>sourceSize</key>
                <string>{200,346}</string>
            </dict>
            <key>huoyanfengbao-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,665},{141,331}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{141,331}}</string>
                <key>sourceSize</key>
                <string>{181,353}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoyanfengbao.png</string>
            <key>size</key>
            <string>{771,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:287a417e66227e4cb16bb49fd2a315c2$</string>
            <key>textureFileName</key>
            <string>huoyanfengbao.png</string>
        </dict>
    </dict>
</plist>
