<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buf0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{104,51}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,29},{104,51}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{108,105}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,28},{108,105}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{108,103}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,30},{108,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{106,103}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,30},{106,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{106,101}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,32},{106,101}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{108,103}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,30},{108,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{108,103}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,29},{108,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{108,103}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,29},{108,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{108,105}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,28},{108,105}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{110,105}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,27},{110,105}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{110,105}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,27},{110,105}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,105}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,28},{110,105}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{108,103}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,30},{108,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{106,103}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,30},{106,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{104,103}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,30},{104,103}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{104,101}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{104,101}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{104,101}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,29},{104,101}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
            <key>buf0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{100,53}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,29},{100,53}}</string>
                <key>sourceSize</key>
                <string>{240,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>husongmubiao1tx.png</string>
            <key>size</key>
            <string>{109,1851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2736cbef786554a19ca3e72adbd499b$</string>
            <key>textureFileName</key>
            <string>husongmubiao1tx.png</string>
        </dict>
    </dict>
</plist>
