<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero4bodyhusong/hero4-bai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{62,94}</string>
            </dict>
            <key>hero4bodyhusong/hero4-bai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{65,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,90}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>hero4bodyhusong/hero4-bai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{39,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,85}}</string>
                <key>sourceSize</key>
                <string>{39,85}</string>
            </dict>
            <key>hero4bodyhusong/hero4-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,145},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>hero4bodyhusong/hero4-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,210},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>hero4bodyhusong/hero4-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,190},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>hero4bodyhusong/hero4-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,190},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>hero4bodyhusong/hero4-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,171},{17,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,9}}</string>
                <key>sourceSize</key>
                <string>{17,9}</string>
            </dict>
            <key>hero4bodyhusong/hero4-lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,171},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>hero4bodyhusong/hero4-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,89},{16,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,54}}</string>
                <key>sourceSize</key>
                <string>{16,54}</string>
            </dict>
            <key>hero4bodyhusong/hero4-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,190},{15,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,43}}</string>
                <key>sourceSize</key>
                <string>{15,43}</string>
            </dict>
            <key>hero4bodyhusong/hero4-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,230},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>hero4bodyhusong/hero4-pi.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,89},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>hero4bodyhusong/hero4-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,231},{17,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,31}}</string>
                <key>sourceSize</key>
                <string>{17,31}</string>
            </dict>
            <key>hero4bodyhusong/hero4-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,115},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>hero4bodyhusong/hero4-rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,235},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>hero4bodyhusong/hero4-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{20,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{20,58}</string>
            </dict>
            <key>hero4bodyhusong/hero4-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,145},{18,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,43}}</string>
                <key>sourceSize</key>
                <string>{18,43}</string>
            </dict>
            <key>hero4bodyhusong/hero4-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>husongmubiao1body.png</string>
            <key>size</key>
            <string>{111,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6231fb2b59cacd511b397358ea1cb72$</string>
            <key>textureFileName</key>
            <string>husongmubiao1body.png</string>
        </dict>
    </dict>
</plist>
