<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huochi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,459},{81,69}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{81,69}}</string>
                <key>sourceSize</key>
                <string>{103,83}</string>
            </dict>
            <key>huochi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1349},{127,133}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{127,133}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>huochi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{178,167}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{178,167}}</string>
                <key>sourceSize</key>
                <string>{190,181}</string>
            </dict>
            <key>huochi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{247,197}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{247,197}}</string>
                <key>sourceSize</key>
                <string>{275,211}</string>
            </dict>
            <key>huochi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{264,197}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{264,197}}</string>
                <key>sourceSize</key>
                <string>{292,209}</string>
            </dict>
            <key>huochi-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{276,188}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{276,188}}</string>
                <key>sourceSize</key>
                <string>{304,202}</string>
            </dict>
            <key>huochi-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{273,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{273,132}}</string>
                <key>sourceSize</key>
                <string>{295,144}</string>
            </dict>
            <key>jurencaita1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{232,150}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{232,150}}</string>
                <key>sourceSize</key>
                <string>{256,160}</string>
            </dict>
            <key>jurencaita2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kaiqijianmo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1211},{136,128}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{136,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1238},{134,128}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,41},{134,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1901},{136,146}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{136,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,936},{130,150}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{130,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1088},{122,148}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{122,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1474},{104,128}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{104,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1368},{104,128}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{104,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,542},{68,64}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,35},{68,64}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juren3tx.png</string>
            <key>size</key>
            <string>{268,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faac578f043e14961d58992993127b14$</string>
            <key>textureFileName</key>
            <string>juren3tx.png</string>
        </dict>
    </dict>
</plist>
