<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juren_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,116},{71,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,132}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>juren_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{176,178}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{176,178}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>juren_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{141,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{141,166}}</string>
                <key>sourceSize</key>
                <string>{147,172}</string>
            </dict>
            <key>juren_tx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,2},{159,232}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{159,232}}</string>
                <key>sourceSize</key>
                <string>{163,234}</string>
            </dict>
            <key>juren_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{168,304}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{168,304}}</string>
                <key>sourceSize</key>
                <string>{174,314}</string>
            </dict>
            <key>juren_tx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{189,282}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,282}}</string>
                <key>sourceSize</key>
                <string>{195,284}</string>
            </dict>
            <key>juren_tx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{191,230}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{191,230}}</string>
                <key>sourceSize</key>
                <string>{197,234}</string>
            </dict>
            <key>juren_tx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,234}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{200,234}}</string>
                <key>sourceSize</key>
                <string>{202,242}</string>
            </dict>
            <key>juren_tx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,2},{268,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,112}}</string>
                <key>sourceSize</key>
                <string>{270,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jurenkan.png</string>
            <key>size</key>
            <string>{1885,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a748c5dc5cb83778b42bf6aeb096862$</string>
            <key>textureFileName</key>
            <string>jurenkan.png</string>
        </dict>
    </dict>
</plist>
