<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jurenzhuan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,983},{154,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{154,113}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{156,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{156,113}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1587},{138,113}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{138,113}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{156,113}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{156,113}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{156,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{156,111}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,843},{138,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{138,115}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,267},{148,119}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{148,119}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,111},{154,119}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{154,119}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,697},{144,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{144,115}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1797},{144,109}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{144,109}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1545},{150,109}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{150,109}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>jurenzhuan-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,547},{148,115}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{148,115}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>longjuan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,236}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{107,236}}</string>
                <key>sourceSize</key>
                <string>{131,256}</string>
            </dict>
            <key>longjuan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1139},{128,446}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{128,446}}</string>
                <key>sourceSize</key>
                <string>{148,464}</string>
            </dict>
            <key>longjuan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{155,546}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{155,546}}</string>
                <key>sourceSize</key>
                <string>{175,554}</string>
            </dict>
            <key>longjuan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{151,541}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{151,541}}</string>
                <key>sourceSize</key>
                <string>{167,549}</string>
            </dict>
            <key>xuanfenglongqi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{138,138}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>xuanfenglongqi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1819},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,132}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>xuanfenglongqi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,417},{116,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,128}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>xuanfenglongqi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1727},{90,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{90,111}}</string>
                <key>sourceSize</key>
                <string>{94,113}</string>
            </dict>
            <key>xuanfenglongqi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1953},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,91}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>zhuana.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{149,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,139}}</string>
                <key>sourceSize</key>
                <string>{149,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juren4tx.png</string>
            <key>size</key>
            <string>{285,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5edc24b6370dbbcaaf903cd3dd10c2a0$</string>
            <key>textureFileName</key>
            <string>juren4tx.png</string>
        </dict>
    </dict>
</plist>
