<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JurenBody2/juren2-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{162,131}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
            <key>JurenBody2/juren2-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{90,91}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>JurenBody2/juren2-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,63},{59,71}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>JurenBody2/juren2-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,135},{70,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,42}}</string>
                <key>sourceSize</key>
                <string>{70,44}</string>
            </dict>
            <key>JurenBody2/juren2-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>JurenBody2/juren2-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,189},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>JurenBody2/juren2-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,122},{61,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>JurenBody2/juren2-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,217},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>JurenBody2/juren2-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,207},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>JurenBody2/juren2-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>JurenBody2/juren2-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,135},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>JurenBody2/juren2-rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,68},{52,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>JurenBody2/juren2-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,124},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>JurenBody2/juren2-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,189},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>JurenBody2/juren2-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,186},{28,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JurenBody2/juren2body.png</string>
            <key>size</key>
            <string>{319,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ec946293dcfd00c2a4b3859291ce393$</string>
            <key>textureFileName</key>
            <string>JurenBody2/juren2body.png</string>
        </dict>
    </dict>
</plist>
