<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>binghuan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,60}}</string>
                <key>sourceSize</key>
                <string>{172,60}</string>
            </dict>
            <key>binghuan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{194,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,65}}</string>
                <key>sourceSize</key>
                <string>{196,65}</string>
            </dict>
            <key>binghuan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{207,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{207,67}}</string>
                <key>sourceSize</key>
                <string>{209,67}</string>
            </dict>
            <key>binghuan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{220,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,69}}</string>
                <key>sourceSize</key>
                <string>{220,69}</string>
            </dict>
            <key>binghuan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{232,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,71}}</string>
                <key>sourceSize</key>
                <string>{232,71}</string>
            </dict>
            <key>binghuan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{242,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,73}}</string>
                <key>sourceSize</key>
                <string>{242,73}</string>
            </dict>
            <key>binghuan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,73}}</string>
                <key>sourceSize</key>
                <string>{242,73}</string>
            </dict>
            <key>bingsui-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{140,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,101}}</string>
                <key>sourceSize</key>
                <string>{142,105}</string>
            </dict>
            <key>bingsui-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{152,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,102}}</string>
                <key>sourceSize</key>
                <string>{156,106}</string>
            </dict>
            <key>bingsui-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{155,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{155,92}}</string>
                <key>sourceSize</key>
                <string>{157,96}</string>
            </dict>
            <key>bingsui-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,571},{155,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,87}}</string>
                <key>sourceSize</key>
                <string>{157,89}</string>
            </dict>
            <key>bingsui-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,432},{137,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{137,78}}</string>
                <key>sourceSize</key>
                <string>{141,82}</string>
            </dict>
            <key>bingsui-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,225},{139,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{139,30}}</string>
                <key>sourceSize</key>
                <string>{143,34}</string>
            </dict>
            <key>dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,728},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuloubing4tx.png</string>
            <key>size</key>
            <string>{256,795}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda1f3a2a847cf7ba1b71f73a936a0e0$</string>
            <key>textureFileName</key>
            <string>kuloubing4tx.png</string>
        </dict>
    </dict>
</plist>
