<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-WQ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{35,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,77},{61,46}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{40,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,48}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,39},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,23},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,54},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,39},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,54},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,77},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,111},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,83},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>NPC_BODY_KLSS3/kulousheshou3-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,39},{29,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{31,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_BODY_KLSS3/kulousheshou3body.png</string>
            <key>size</key>
            <string>{174,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19da62dcb9ffd10cb09c9f78ddbf7ec7$</string>
            <key>textureFileName</key>
            <string>NPC_BODY_KLSS3/kulousheshou3body.png</string>
        </dict>
    </dict>
</plist>
