<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>xbshua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>xbshua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{65,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,133}}</string>
                <key>sourceSize</key>
                <string>{65,135}</string>
            </dict>
            <key>xbshua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,131},{41,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,113}}</string>
                <key>sourceSize</key>
                <string>{41,117}</string>
            </dict>
            <key>xbshua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,246},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{40,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuloubing3tx.png</string>
            <key>size</key>
            <string>{122,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:757e2dc1008fda650486ccf9ab4cd9b3$</string>
            <key>textureFileName</key>
            <string>kuloubing3tx.png</string>
        </dict>
    </dict>
</plist>
