<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>kuloubing2sp1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,246}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{319,246}}</string>
                <key>sourceSize</key>
                <string>{329,250}</string>
            </dict>
            <key>kuloubing2sp1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{194,240}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{194,240}}</string>
                <key>sourceSize</key>
                <string>{206,244}</string>
            </dict>
            <key>kuloubing2sp1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{150,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{150,203}}</string>
                <key>sourceSize</key>
                <string>{162,213}</string>
            </dict>
            <key>kuloubing2sp1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{122,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{122,152}}</string>
                <key>sourceSize</key>
                <string>{132,162}</string>
            </dict>
            <key>kuloubing2sp1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,150},{101,78}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{101,78}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>kuloubing2sp2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{189,146}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{189,146}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>kuloubing2sp2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,126},{129,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{129,128}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>kuloubing2sp2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,126},{89,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{89,113}}</string>
                <key>sourceSize</key>
                <string>{95,119}</string>
            </dict>
            <key>kuloubing2sp2-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,150},{67,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{67,105}}</string>
                <key>sourceSize</key>
                <string>{73,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuloubing2tx.png</string>
            <key>size</key>
            <string>{1084,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c08eac39e0cfaf99cb41b03b9744c41f$</string>
            <key>textureFileName</key>
            <string>kuloubing2tx.png</string>
        </dict>
    </dict>
</plist>
