<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-WQ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,58},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{50,55}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{50,55}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{33,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,163},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,127},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,128},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,105},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,127},{35,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,26}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,95},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,76},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,163},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>NPC_BODY_KLSS4/kulousheshou1-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,155},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kulousheshou4body.png</string>
            <key>size</key>
            <string>{125,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a29b478f49b820dab41716bd6eaa815c$</string>
            <key>textureFileName</key>
            <string>kulousheshou4body.png</string>
        </dict>
    </dict>
</plist>
