<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_BODY_KL3/kuloubing3-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,76}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{35,42}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{49,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,67}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{57,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{57,57}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,176},{27,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,125},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,148},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,227},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,231},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,199},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,231},{19,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,80},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>NPC_BODY_KL3/kuloubing3-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,103},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_BODY_KL3/kuloubing3body.png</string>
            <key>size</key>
            <string>{90,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:941782687944f4127f1be6a425f330ab$</string>
            <key>textureFileName</key>
            <string>NPC_BODY_KL3/kuloubing3body.png</string>
        </dict>
    </dict>
</plist>
