<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>kuloubing5atk-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{155,58}}</string>
                <key>sourceSize</key>
                <string>{163,64}</string>
            </dict>
            <key>kuloubing5atk-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{150,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,51}</string>
            </dict>
            <key>kuloubing5atk-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{139,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{139,50}}</string>
                <key>sourceSize</key>
                <string>{147,58}</string>
            </dict>
            <key>kuloubing5atk-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{130,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{132,37}</string>
            </dict>
            <key>kuloubing5atk-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{123,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{123,34}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>kuloubing5atk-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{89,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,33}}</string>
                <key>sourceSize</key>
                <string>{93,37}</string>
            </dict>
            <key>kuloubing5atk-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,106},{96,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,18}}</string>
                <key>sourceSize</key>
                <string>{96,18}</string>
            </dict>
            <key>kuloubing5atk-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,80},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>langren5tx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,106},{25,11}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,119},{25,11}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,80},{79,43}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,88},{79,43}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx03.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,38},{59,91}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,42},{59,91}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,62},{61,121}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{61,121}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,51},{65,123}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{65,123}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx06.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,39},{65,111}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{65,111}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx07.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,54},{67,123}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{67,123}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx08.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{47,119}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{47,119}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuloubing5tx.png</string>
            <key>size</key>
            <string>{833,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7289dc08ff4ef456e7695c2a879b2365$</string>
            <key>textureFileName</key>
            <string>kuloubing5tx.png</string>
        </dict>
    </dict>
</plist>
