<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1057-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{282,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,45}}</string>
                <key>sourceSize</key>
                <string>{282,45}</string>
            </dict>
            <key>1057-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,209},{141,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,29}}</string>
                <key>sourceSize</key>
                <string>{145,29}</string>
            </dict>
            <key>1057-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{327,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{327,56}}</string>
                <key>sourceSize</key>
                <string>{331,56}</string>
            </dict>
            <key>1057-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,78},{312,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,71}}</string>
                <key>sourceSize</key>
                <string>{314,71}</string>
            </dict>
            <key>1057-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,78},{330,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,69}}</string>
                <key>sourceSize</key>
                <string>{330,69}</string>
            </dict>
            <key>1057-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{330,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,73}}</string>
                <key>sourceSize</key>
                <string>{330,73}</string>
            </dict>
            <key>1057-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{340,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,74}}</string>
                <key>sourceSize</key>
                <string>{340,74}</string>
            </dict>
            <key>1057-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{341,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{341,74}}</string>
                <key>sourceSize</key>
                <string>{343,74}</string>
            </dict>
            <key>1057-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,149},{292,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,58}}</string>
                <key>sourceSize</key>
                <string>{292,58}</string>
            </dict>
            <key>1057-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,77},{269,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,53}}</string>
                <key>sourceSize</key>
                <string>{269,53}</string>
            </dict>
            <key>1710-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,132},{163,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,54}}</string>
                <key>sourceSize</key>
                <string>{163,54}</string>
            </dict>
            <key>1710-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,188},{162,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,58}}</string>
                <key>sourceSize</key>
                <string>{162,58}</string>
            </dict>
            <key>1710-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,132},{223,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,108}}</string>
                <key>sourceSize</key>
                <string>{223,108}</string>
            </dict>
            <key>1710-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,145}}</string>
                <key>sourceSize</key>
                <string>{319,145}</string>
            </dict>
            <key>1710-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,151},{278,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,81}}</string>
                <key>sourceSize</key>
                <string>{278,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kulousheshou5tx.png</string>
            <key>size</key>
            <string>{1359,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7723338508e5d579797eafbf65a60af6$</string>
            <key>textureFileName</key>
            <string>kulousheshou5tx.png</string>
        </dict>
    </dict>
</plist>
