<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,556},{45,45}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{45,45}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{65,59}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{65,59}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{101,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{101,67}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{101,71}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{115,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{115,71}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{119,77}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{119,77}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,83}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{119,81}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{119,45}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{119,45}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effects1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{119,43}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{119,43}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kulousheshou4tx.png</string>
            <key>size</key>
            <string>{123,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c52a159992db71fcaf98e3433a0e85$</string>
            <key>textureFileName</key>
            <string>kulousheshou4tx.png</string>
        </dict>
    </dict>
</plist>
