<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,214},{88,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,13}}</string>
                <key>sourceSize</key>
                <string>{88,13}</string>
            </dict>
            <key>gongguang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,72},{72,117}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,117}}</string>
                <key>sourceSize</key>
                <string>{82,123}</string>
            </dict>
            <key>gongguang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,146},{66,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,120}}</string>
                <key>sourceSize</key>
                <string>{68,126}</string>
            </dict>
            <key>gongguang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,168},{47,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,120}}</string>
                <key>sourceSize</key>
                <string>{49,126}</string>
            </dict>
            <key>gongguang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,168},{47,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,120}}</string>
                <key>sourceSize</key>
                <string>{49,126}</string>
            </dict>
            <key>gongguang-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{60,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,118}}</string>
                <key>sourceSize</key>
                <string>{62,124}</string>
            </dict>
            <key>gongguang-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{68,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,122}}</string>
                <key>sourceSize</key>
                <string>{70,126}</string>
            </dict>
            <key>jianhaotx_ci0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,84}}</string>
                <key>sourceSize</key>
                <string>{354,84}</string>
            </dict>
            <key>jianhaotx_ci1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{356,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,38}}</string>
                <key>sourceSize</key>
                <string>{356,38}</string>
            </dict>
            <key>jianhaotx_ci2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{356,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,28}}</string>
                <key>sourceSize</key>
                <string>{356,28}</string>
            </dict>
            <key>jianhaotx_ci3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{355,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,8}}</string>
                <key>sourceSize</key>
                <string>{355,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kulousheshou1tx.png</string>
            <key>size</key>
            <string>{488,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64ee3284f96c37214ea792d82143ba70$</string>
            <key>textureFileName</key>
            <string>kulousheshou1tx.png</string>
        </dict>
    </dict>
</plist>
