<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongguang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,244},{72,117}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,117}}</string>
                <key>sourceSize</key>
                <string>{82,123}</string>
            </dict>
            <key>gongguang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,72},{66,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,120}}</string>
                <key>sourceSize</key>
                <string>{68,126}</string>
            </dict>
            <key>gongguang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,311},{47,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,120}}</string>
                <key>sourceSize</key>
                <string>{49,126}</string>
            </dict>
            <key>gongguang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,317},{47,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,120}}</string>
                <key>sourceSize</key>
                <string>{49,126}</string>
            </dict>
            <key>gongguang-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,244},{60,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,118}}</string>
                <key>sourceSize</key>
                <string>{62,124}</string>
            </dict>
            <key>gongguang-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{68,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,122}}</string>
                <key>sourceSize</key>
                <string>{70,126}</string>
            </dict>
            <key>poojian-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,311},{55,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,70},{55,24}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,283},{75,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,60},{75,44}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,283},{83,64}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,48},{83,64}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,276},{95,94}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,31},{95,94}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,140},{123,102}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{123,102}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,169},{125,140}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,11},{125,140}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{109,134}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,20},{109,134}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{119,136}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,20},{119,136}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,143},{117,138}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,20},{117,138}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,140},{115,134}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,23},{115,134}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>poojian-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,169},{117,146}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,13},{117,146}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>tanglangzui-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,138},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>tanglangzui-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{168,168}}</string>
                <key>sourceSize</key>
                <string>{176,172}</string>
            </dict>
            <key>tanglangzui-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,183},{175,175}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{175,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>tanglangzui-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,179}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{179,179}}</string>
                <key>sourceSize</key>
                <string>{193,185}</string>
            </dict>
            <key>tanglangzui-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{176,177}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{176,177}}</string>
                <key>sourceSize</key>
                <string>{196,189}</string>
            </dict>
            <key>tanglangzui-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{165,164}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{165,164}}</string>
                <key>sourceSize</key>
                <string>{199,192}</string>
            </dict>
            <key>tanglangzui-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{139,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{139,136}}</string>
                <key>sourceSize</key>
                <string>{197,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kulousheshou2tx.png</string>
            <key>size</key>
            <string>{1013,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40308a537a022c072e13fed8ba408353$</string>
            <key>textureFileName</key>
            <string>kulousheshou2tx.png</string>
        </dict>
    </dict>
</plist>
