<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huopi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1776},{141,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,112}}</string>
                <key>sourceSize</key>
                <string>{141,112}</string>
            </dict>
            <key>huopi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{171,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,108}}</string>
                <key>sourceSize</key>
                <string>{171,108}</string>
            </dict>
            <key>huopi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1166},{176,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,83}}</string>
                <key>sourceSize</key>
                <string>{176,83}</string>
            </dict>
            <key>huopi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,713},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>huoyanshao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1229},{227,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,207}}</string>
                <key>sourceSize</key>
                <string>{227,207}</string>
            </dict>
            <key>huoyanshao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{232,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,219}}</string>
                <key>sourceSize</key>
                <string>{232,219}</string>
            </dict>
            <key>huoyanshao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{256,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,213}}</string>
                <key>sourceSize</key>
                <string>{256,213}</string>
            </dict>
            <key>huoyanshao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,181}}</string>
                <key>sourceSize</key>
                <string>{256,181}</string>
            </dict>
            <key>huoyanshao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{251,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,146}}</string>
                <key>sourceSize</key>
                <string>{251,146}</string>
            </dict>
            <key>huoyanshao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{206,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,96}}</string>
                <key>sourceSize</key>
                <string>{206,96}</string>
            </dict>
            <key>langrentx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{230,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,85}}</string>
                <key>sourceSize</key>
                <string>{230,85}</string>
            </dict>
            <key>langrentx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{270,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,99}</string>
            </dict>
            <key>langrentx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{283,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,97}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>langrentx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,99}}</string>
                <key>sourceSize</key>
                <string>{285,99}</string>
            </dict>
            <key>langrentx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1157},{228,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,70}}</string>
                <key>sourceSize</key>
                <string>{228,70}</string>
            </dict>
            <key>langrentx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{115,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{115,122}</string>
            </dict>
            <key>langrentx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{221,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,117}}</string>
                <key>sourceSize</key>
                <string>{221,119}</string>
            </dict>
            <key>langrentx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{192,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,99}}</string>
                <key>sourceSize</key>
                <string>{192,99}</string>
            </dict>
            <key>langrentx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1344},{209,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{209,66}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>langrentx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,955},{209,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{209,74}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>langrentx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,508},{203,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{203,56}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>langrentx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,303},{203,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{203,56}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>zhuahuo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1557},{102,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,116}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>zhuahuo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1890},{95,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,123}}</string>
                <key>sourceSize</key>
                <string>{97,125}</string>
            </dict>
            <key>zhuahuo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1675},{99,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,116}}</string>
                <key>sourceSize</key>
                <string>{101,118}</string>
            </dict>
            <key>zhuahuo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,887},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>langren3tx.png</string>
            <key>size</key>
            <string>{318,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7050638197d7903dcbd13f8d5fca16e$</string>
            <key>textureFileName</key>
            <string>langren3tx.png</string>
        </dict>
    </dict>
</plist>
