<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi11-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,180},{222,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{222,104}}</string>
                <key>sourceSize</key>
                <string>{224,104}</string>
            </dict>
            <key>baoqi11-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{222,245}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{222,245}}</string>
                <key>sourceSize</key>
                <string>{224,259}</string>
            </dict>
            <key>baoqi11-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{222,262}}</string>
                <key>sourceSize</key>
                <string>{224,262}</string>
            </dict>
            <key>baoqi11-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{230,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,176}}</string>
                <key>sourceSize</key>
                <string>{232,178}</string>
            </dict>
            <key>baoqi11-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{220,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{220,163}}</string>
                <key>sourceSize</key>
                <string>{222,165}</string>
            </dict>
            <key>langren5tx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,123},{25,11}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,119},{25,11}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,659},{79,43}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,88},{79,43}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,803},{59,91}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,42},{59,91}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,755},{61,121}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{61,121}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,678},{65,123}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{65,123}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx06.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,771},{65,111}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{65,111}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx07.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,755},{67,123}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{67,123}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx08.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{47,119}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{47,119}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langrenkuangwu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,524},{142,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{142,119}}</string>
                <key>sourceSize</key>
                <string>{148,123}</string>
            </dict>
            <key>langrenkuangwu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,645},{118,124}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,124}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>langrenkuangwu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,659},{110,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>langrenkuangwu-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,411},{145,111}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{145,111}}</string>
                <key>sourceSize</key>
                <string>{151,119}</string>
            </dict>
            <key>langrenkuangwu-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,544},{132,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{132,113}}</string>
                <key>sourceSize</key>
                <string>{134,117}</string>
            </dict>
            <key>langrenkuangwu-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,406},{136,125}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{136,125}}</string>
                <key>sourceSize</key>
                <string>{142,127}</string>
            </dict>
            <key>langrenkuangwu-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,286},{144,123}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{144,123}}</string>
                <key>sourceSize</key>
                <string>{148,131}</string>
            </dict>
            <key>langrenkuangwu-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,286},{118,124}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{118,124}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>langrenkuangwu-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{154,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,115}}</string>
                <key>sourceSize</key>
                <string>{158,117}</string>
            </dict>
            <key>langrenkuangwu-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{120,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{124,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>langren5tx.png</string>
            <key>size</key>
            <string>{508,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e35fcba79379870a72049e26e2a7aa61$</string>
            <key>textureFileName</key>
            <string>langren5tx.png</string>
        </dict>
    </dict>
</plist>
