<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>langren4/langren1-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>langren4/langren1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{59,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{59,72}}</string>
                <key>sourceSize</key>
                <string>{67,80}</string>
            </dict>
            <key>langren4/langren1-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,42},{44,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>langren4/langren1-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{37,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>langren4/langren1-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,57},{42,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>langren4/langren1-lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,59},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>langren4/langren1-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,51},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>langren4/langren1-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,68},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>langren4/langren1-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,54},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>langren4/langren1-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{53,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>langren4/langren1-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{38,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{38,53}}</string>
                <key>sourceSize</key>
                <string>{42,65}</string>
            </dict>
            <key>langren4/langren1-rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{38,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>langren4/langren1-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{27,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>langren4/langren1-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,68},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>langren4/langren1-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>langren4body.png</string>
            <key>size</key>
            <string>{421,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbdd8bb0c1ad6585346ad8e590d0f6c3$</string>
            <key>textureFileName</key>
            <string>langren4body.png</string>
        </dict>
    </dict>
</plist>
