<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingdongle.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1143},{117,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,127}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>binghui-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{156,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{156,116}}</string>
                <key>sourceSize</key>
                <string>{158,122}</string>
            </dict>
            <key>binghui-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,452},{153,157}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,157}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>binghui-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,469},{154,161}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{154,161}}</string>
                <key>sourceSize</key>
                <string>{166,169}</string>
            </dict>
            <key>binghui-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{154,170}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{154,170}}</string>
                <key>sourceSize</key>
                <string>{168,178}</string>
            </dict>
            <key>binghui-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{153,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{153,171}}</string>
                <key>sourceSize</key>
                <string>{169,179}</string>
            </dict>
            <key>binghui-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,291},{155,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{155,159}}</string>
                <key>sourceSize</key>
                <string>{165,163}</string>
            </dict>
            <key>binghui-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,607},{155,145}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{155,145}}</string>
                <key>sourceSize</key>
                <string>{157,147}</string>
            </dict>
            <key>binghui-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,770},{155,140}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{155,140}}</string>
                <key>sourceSize</key>
                <string>{155,148}</string>
            </dict>
            <key>binghui-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,912},{155,132}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{155,132}}</string>
                <key>sourceSize</key>
                <string>{155,148}</string>
            </dict>
            <key>jujuju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{164,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{164,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{164,154}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{166,152}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{166,152}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,632},{152,136}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{152,136}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,754},{144,146}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{144,146}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,303},{152,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{152,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>langrentx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,204},{230,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,85}}</string>
                <key>sourceSize</key>
                <string>{230,85}</string>
            </dict>
            <key>langrentx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{270,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,99}}</string>
                <key>sourceSize</key>
                <string>{270,99}</string>
            </dict>
            <key>langrentx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{283,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,97}}</string>
                <key>sourceSize</key>
                <string>{283,97}</string>
            </dict>
            <key>langrentx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,99}}</string>
                <key>sourceSize</key>
                <string>{285,99}</string>
            </dict>
            <key>langrentx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,78},{209,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{209,66}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>langrentx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{209,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{209,74}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>langrentx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,902},{203,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{203,56}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>langrentx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,146},{203,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{203,56}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>zhizhudead2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,754},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>zhizhudead2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1050},{126,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,65}</string>
            </dict>
            <key>zhizhudead2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,912},{136,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{136,70}</string>
            </dict>
            <key>zhizhudead2-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1069},{140,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>zhizhudead2-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,902},{133,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,72}}</string>
                <key>sourceSize</key>
                <string>{135,72}</string>
            </dict>
            <key>zhizhudead2-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1037},{126,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>zhizhudead2-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1178},{126,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>zhizhudead2-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1107},{115,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>langren4tx.png</string>
            <key>size</key>
            <string>{506,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec4fc878f78cf16c66f0e218332738e1$</string>
            <key>textureFileName</key>
            <string>langren4tx.png</string>
        </dict>
    </dict>
</plist>
