<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>langren2/langren2-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{87,93}</string>
            </dict>
            <key>langren2/langren2-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{57,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,71}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>langren2/langren2-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,81},{47,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>langren2/langren2-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{53,53}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>langren2/langren2-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,69},{40,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,26}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>langren2/langren2-lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,118},{32,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>langren2/langren2-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,81},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>langren2/langren2-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,118},{26,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>langren2/langren2-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,118},{32,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>langren2/langren2-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{60,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,77}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>langren2/langren2-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{33,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,65}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>langren2/langren2-rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,97},{36,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,39}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>langren2/langren2-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,75},{26,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,47}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>langren2/langren2-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,124},{25,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>langren2/langren2-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,97},{25,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{25,50}}</string>
                <key>sourceSize</key>
                <string>{29,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>langren2/langren2body.png</string>
            <key>size</key>
            <string>{246,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fc566bac92c84561c76f7c592bacbad$</string>
            <key>textureFileName</key>
            <string>langren2/langren2body.png</string>
        </dict>
    </dict>
</plist>
