<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuloufashi5-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,105}</string>
            </dict>
            <key>leipo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{152,108}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{152,108}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,562},{152,142}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{152,142}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{146,150}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{146,150}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,136}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{148,136}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,410},{150,142}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{150,142}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{152,146}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{152,146}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{152,140}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{152,140}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,870},{152,148}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{152,148}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,258},{150,140}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{150,140}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,716},{152,140}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{152,140}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{150,146}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{150,146}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{148,146}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{148,146}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>leipo-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,112},{140,144}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{140,144}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leiqiubody.png</string>
            <key>size</key>
            <string>{294,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7d3fd98b8f44c0c916d04d7b8309de3$</string>
            <key>textureFileName</key>
            <string>leiqiubody.png</string>
        </dict>
    </dict>
</plist>
