<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianfu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,78},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>bianfu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,78},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>bianfu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,78},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>bianfu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,78},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
            <key>bianfu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,78},{27,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,53}}</string>
                <key>sourceSize</key>
                <string>{27,53}</string>
            </dict>
            <key>bianfudan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{227,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,74}}</string>
                <key>sourceSize</key>
                <string>{229,86}</string>
            </dict>
            <key>bianfudan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{234,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{234,66}}</string>
                <key>sourceSize</key>
                <string>{238,66}</string>
            </dict>
            <key>bianfudan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{207,64}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,64}}</string>
                <key>sourceSize</key>
                <string>{223,64}</string>
            </dict>
            <key>bianfudan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,70},{200,44}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{200,44}}</string>
                <key>sourceSize</key>
                <string>{200,64}</string>
            </dict>
            <key>bianfufan-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,116}}</string>
                <key>sourceSize</key>
                <string>{174,116}</string>
            </dict>
            <key>bianfufan-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{210,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,114}}</string>
                <key>sourceSize</key>
                <string>{210,114}</string>
            </dict>
            <key>bianfufan-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{209,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,112}}</string>
                <key>sourceSize</key>
                <string>{209,112}</string>
            </dict>
            <key>bianfufan-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{141,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,110}}</string>
                <key>sourceSize</key>
                <string>{141,110}</string>
            </dict>
            <key>bianfufan-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{89,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster9tx.png</string>
            <key>size</key>
            <string>{1509,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1423125f1388fb87e5a6956e9b74c31$</string>
            <key>textureFileName</key>
            <string>monster9tx.png</string>
        </dict>
    </dict>
</plist>
