<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingqiang1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{133,233}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{133,233}}</string>
                <key>sourceSize</key>
                <string>{135,243}</string>
            </dict>
            <key>bingqiang1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{84,212}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{84,212}}</string>
                <key>sourceSize</key>
                <string>{96,224}</string>
            </dict>
            <key>bingqiang2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{162,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,236}}</string>
                <key>sourceSize</key>
                <string>{162,236}</string>
            </dict>
            <key>bingqiang2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,246}}</string>
                <key>sourceSize</key>
                <string>{190,246}</string>
            </dict>
            <key>guangqiuqiu-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>link2.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,104},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster10tx.png</string>
            <key>size</key>
            <string>{680,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c390610f64dce5c42f87c79a39ffb04$</string>
            <key>textureFileName</key>
            <string>monster10tx.png</string>
        </dict>
    </dict>
</plist>
