<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,722},{382,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,358}}</string>
                <key>sourceSize</key>
                <string>{382,358}</string>
            </dict>
            <key>sp-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{382,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,358}}</string>
                <key>sourceSize</key>
                <string>{382,358}</string>
            </dict>
            <key>sp-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,362},{382,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,358}}</string>
                <key>sourceSize</key>
                <string>{382,358}</string>
            </dict>
            <key>sp-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{382,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,358}}</string>
                <key>sourceSize</key>
                <string>{382,358}</string>
            </dict>
            <key>sp-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{382,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,358}}</string>
                <key>sourceSize</key>
                <string>{382,358}</string>
            </dict>
            <key>sp-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,358}}</string>
                <key>sourceSize</key>
                <string>{382,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{770,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e980fb85eee4caf3820ae33b1c07c653$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
