<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1skill2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{137,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{137,160}}</string>
                <key>sourceSize</key>
                <string>{141,164}</string>
            </dict>
            <key>hero1skill2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{143,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{143,156}}</string>
                <key>sourceSize</key>
                <string>{147,158}</string>
            </dict>
            <key>hero1skill2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{145,161}}</string>
                <key>sourceSize</key>
                <string>{149,163}</string>
            </dict>
            <key>kuloubing2-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,165},{40,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>kuloubing5-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,160},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>kuloubing5-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,165},{39,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,42}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>kuloubing5-dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{67,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,101}}</string>
                <key>sourceSize</key>
                <string>{67,101}</string>
            </dict>
            <key>kuloubing5-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,223},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>kuloubing5-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,193},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>kuloubing5-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,164},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>kuloubing5-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,223},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>kuloubing5-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,193},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>kuloubing5-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,209},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>kuloubing5-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,209},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>kuloubing5-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,164},{19,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>kuloubing5-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,208},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>kuloubing5-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,188},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster1body.png</string>
            <key>size</key>
            <string>{433,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17dfc840738343127f7e503420a19190$</string>
            <key>textureFileName</key>
            <string>monster1body.png</string>
        </dict>
    </dict>
</plist>
