<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dudupendu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1830},{184,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,128}}</string>
                <key>sourceSize</key>
                <string>{184,128}</string>
            </dict>
            <key>dudupendu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1549},{279,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,201}}</string>
                <key>sourceSize</key>
                <string>{279,201}</string>
            </dict>
            <key>dudupendu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1265},{282,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,250}}</string>
                <key>sourceSize</key>
                <string>{282,250}</string>
            </dict>
            <key>dudupendu-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{301,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,261}}</string>
                <key>sourceSize</key>
                <string>{301,261}</string>
            </dict>
            <key>dudupendu-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{318,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,268}}</string>
                <key>sourceSize</key>
                <string>{318,268}</string>
            </dict>
            <key>dudupendu-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{321,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,269}}</string>
                <key>sourceSize</key>
                <string>{321,269}</string>
            </dict>
            <key>dudupendu-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{315,270}}</string>
                <key>sourceSize</key>
                <string>{317,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster7tx.png</string>
            <key>size</key>
            <string>{274,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53857f81d85ed09ee8f374e5af8979b8$</string>
            <key>textureFileName</key>
            <string>monster7tx.png</string>
        </dict>
    </dict>
</plist>
