<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{106,104}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,58},{106,104}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{98,110}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,53},{98,110}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{94,122}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{94,122}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{94,130}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{94,130}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{94,134}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{94,134}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{100,134}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{100,134}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{96,152}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{96,152}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{102,162}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{102,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{96,162}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{96,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,162}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{108,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>p1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{102,162}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{102,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1body.png</string>
            <key>size</key>
            <string>{112,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0a00872ede1fcd3ae7cf9c66e55aeb1$</string>
            <key>textureFileName</key>
            <string>p1body.png</string>
        </dict>
    </dict>
</plist>
