<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s19_light_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,362},{216,200}}</string>
                <key>offset</key>
                <string>{92,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,0},{216,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>s19_light_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{232,200}}</string>
                <key>offset</key>
                <string>{84,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,0},{232,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>s19_light_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,200}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{368,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>s19_light_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{250,194}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{250,194}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>s19_light_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,236},{124,148}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,18},{124,148}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p4body.png</string>
            <key>size</key>
            <string>{456,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25ed01e44353c80647295a27181fee29$</string>
            <key>textureFileName</key>
            <string>p4body.png</string>
        </dict>
    </dict>
</plist>
