<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guishou-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,740},{98,70}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{98,70}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,128},{104,62}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,35},{104,62}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{124,56}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,36},{124,56}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{132,80}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{132,80}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,292},{142,66}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{142,66}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{158,70}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{158,70}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{184,76}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{184,76}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,104}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{190,104}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{180,84}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{180,84}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{184,104}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{154,88}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{154,88}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{156,70}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{156,70}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{154,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{154,76}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,586},{152,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{152,94}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{150,84}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{150,84}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,812},{94,84}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{94,84}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,436},{90,76}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{90,76}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,858},{100,74}}</string>
                <key>offset</key>
                <string>{-28,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{100,74}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{104,86}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{104,86}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>guishou-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,514},{90,70}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{90,70}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p5body.png</string>
            <key>size</key>
            <string>{254,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f6504d5f42b55041f516a06c1c404b$</string>
            <key>textureFileName</key>
            <string>p5body.png</string>
        </dict>
    </dict>
</plist>
