<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yudi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>yudi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,18},{38,10}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{38,10}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>yudi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{44,10}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,10}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>yudi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,8}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{46,8}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p8body.png</string>
            <key>size</key>
            <string>{88,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ab8604a12a84f74d9e3f83ab376790$</string>
            <key>textureFileName</key>
            <string>p8body.png</string>
        </dict>
    </dict>
</plist>
