<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaiqijianmo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{136,128}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{136,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{134,128}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,41},{134,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,146}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{136,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{130,150}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{130,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{122,148}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{122,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{104,128}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{104,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{104,128}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{104,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>kaiqijianmo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{68,64}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,35},{68,64}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>penhuojian.png</string>
            <key>size</key>
            <string>{140,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ba610f2b2e42556760beb39704c8db3$</string>
            <key>textureFileName</key>
            <string>penhuojian.png</string>
        </dict>
    </dict>
</plist>
