<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyana-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{87,130}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{87,130}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
            <key>huoyana-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{67,148}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{67,148}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
            <key>huoyana-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{93,92}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{93,92}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
            <key>huoyana-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{101,110}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{101,110}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
            <key>huoyana-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{105,120}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{105,120}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
            <key>huoyana-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{105,124}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{105,124}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
            <key>huoyana-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,128}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{105,128}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
            <key>huoyana-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{103,128}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{103,128}}</string>
                <key>sourceSize</key>
                <string>{117,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role7body.png</string>
            <key>size</key>
            <string>{109,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37435706f270189c533142bb3cb470e9$</string>
            <key>textureFileName</key>
            <string>role7body.png</string>
        </dict>
    </dict>
</plist>
