<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role1-hit15-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,159}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,24},{79,159}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
            <key>role1-hit15-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{95,177}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,15},{95,177}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
            <key>role1-hit15-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{143,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{143,183}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
            <key>role1-hit15-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{153,183}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{153,183}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
            <key>role1-hit15-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{165,153}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{165,153}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
            <key>role1-hit15-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{171,157}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{171,157}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role15body.png</string>
            <key>size</key>
            <string>{972,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c2d6a0560663ec9f8767ea08219df0$</string>
            <key>textureFileName</key>
            <string>role15body.png</string>
        </dict>
    </dict>
</plist>
