<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengui_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,114},{62,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{62,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{110,86}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,27},{110,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,270},{128,132}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{128,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{132,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{130,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{132,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{132,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,272},{128,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shengui_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,404},{114,38}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{114,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role13body.png</string>
            <key>size</key>
            <string>{396,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2196523af5288b5ffb65fc2dec5eda55$</string>
            <key>textureFileName</key>
            <string>role13body.png</string>
        </dict>
    </dict>
</plist>
