<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dubao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,223},{103,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{103,96}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>dubao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{113,102}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>dubao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{115,98}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{115,98}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>dubao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{119,92}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{119,92}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>dubao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{117,86}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{117,86}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>dubao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,106},{105,80}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{105,80}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>sxdpic_1740.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{36,40}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,48},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
            <key>sxdpic_1742.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,328},{46,58}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{46,58}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
            <key>sxdpic_1744.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,256},{48,64}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,64}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
            <key>sxdpic_1746.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,182},{48,72}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,72}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
            <key>sxdpic_1748.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,328},{50,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
            <key>sxdpic_1750.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,96},{50,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role11body.png</string>
            <key>size</key>
            <string>{238,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d30de9c102280fd4f45f6bd0a9e98c7d$</string>
            <key>textureFileName</key>
            <string>role11body.png</string>
        </dict>
    </dict>
</plist>
