<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SingedBody1/Singed-WQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{65,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,124}}</string>
                <key>sourceSize</key>
                <string>{65,124}</string>
            </dict>
            <key>SingedBody1/Singed-WQ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,117}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SingedBody1/Singed-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>SingedBody1/Singed-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>SingedBody1/Singed-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,142},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>SingedBody1/Singed-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,211},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>SingedBody1/Singed-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,224},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>SingedBody1/Singed-lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,211},{22,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,11}</string>
            </dict>
            <key>SingedBody1/Singed-lhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,142},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>SingedBody1/Singed-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,142},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>SingedBody1/Singed-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,176},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>SingedBody1/Singed-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,16}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
            <key>SingedBody1/Singed-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,165},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>SingedBody1/Singed-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,191},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>SingedBody1/Singed-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,176},{25,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>SingedBody1/Singed-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,217},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss7body.png</string>
            <key>size</key>
            <string>{128,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c13dc4110c4ec98adaa9683ee452581$</string>
            <key>textureFileName</key>
            <string>shenyuanboss7body.png</string>
        </dict>
    </dict>
</plist>
