<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>langren5tx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,339},{25,11}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,119},{25,11}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,253},{79,43}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,88},{79,43}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{59,91}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{59,91}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,216},{61,121}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{61,121}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx05.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1857},{65,123}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{65,123}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx06.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1924},{65,111}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{65,111}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx07.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1857},{67,123}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{67,123}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langren5tx08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,95},{47,119}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{47,119}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>langyan1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{348,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,103}}</string>
                <key>sourceSize</key>
                <string>{348,103}</string>
            </dict>
            <key>langyan1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,119}}</string>
                <key>sourceSize</key>
                <string>{398,119}</string>
            </dict>
            <key>langyan1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{396,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,128}}</string>
                <key>sourceSize</key>
                <string>{396,128}</string>
            </dict>
            <key>langyan1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{337,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,126}}</string>
                <key>sourceSize</key>
                <string>{337,126}</string>
            </dict>
            <key>langyan1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{347,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,136}}</string>
                <key>sourceSize</key>
                <string>{347,136}</string>
            </dict>
            <key>langyan1-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{331,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,130}}</string>
                <key>sourceSize</key>
                <string>{331,130}</string>
            </dict>
            <key>langyan1-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{322,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,134}}</string>
                <key>sourceSize</key>
                <string>{322,134}</string>
            </dict>
            <key>langyan1-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{328,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{328,128}}</string>
                <key>sourceSize</key>
                <string>{328,130}</string>
            </dict>
            <key>shenyuanlangzhua-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1924},{79,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{79,84}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>shenyuanlangzhua-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{259,145}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{259,145}}</string>
                <key>sourceSize</key>
                <string>{263,153}</string>
            </dict>
            <key>shenyuanlangzhua-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,936},{276,135}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{276,135}}</string>
                <key>sourceSize</key>
                <string>{278,139}</string>
            </dict>
            <key>shenyuanlangzhua-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{276,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{276,129}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>shenyuanlangzhua-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,663},{271,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{271,126}}</string>
                <key>sourceSize</key>
                <string>{277,128}</string>
            </dict>
            <key>shenyuanlangzhua-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,402},{259,110}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{259,110}}</string>
                <key>sourceSize</key>
                <string>{275,116}</string>
            </dict>
            <key>shenyuanlangzhua-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,339},{93,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{93,61}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>shenyuanlangzhua-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1214},{193,222}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{193,222}}</string>
                <key>sourceSize</key>
                <string>{213,226}</string>
            </dict>
            <key>shenyuanlangzhua-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{211,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{211,236}}</string>
                <key>sourceSize</key>
                <string>{213,236}</string>
            </dict>
            <key>shenyuanlangzhua-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1513},{224,233}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,233}}</string>
                <key>sourceSize</key>
                <string>{226,235}</string>
            </dict>
            <key>shenyuanlangzhua-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1739},{232,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{232,231}}</string>
                <key>sourceSize</key>
                <string>{234,233}</string>
            </dict>
            <key>shenyuanlangzhua-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1438},{234,220}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{234,220}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>shenyuanlangzhua-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1674},{181,219}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{181,219}}</string>
                <key>sourceSize</key>
                <string>{201,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss3tx.png</string>
            <key>size</key>
            <string>{463,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f028be84a33748b71661d05f0a72ee$</string>
            <key>textureFileName</key>
            <string>shenyuanboss3tx.png</string>
        </dict>
    </dict>
</plist>
