<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhizhuboss/body.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,41},{35,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,67}}</string>
                <key>sourceSize</key>
                <string>{35,67}</string>
            </dict>
            <key>zhizhuboss/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>zhizhuboss/lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,110},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>zhizhuboss/lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,61},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>zhizhuboss/lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>zhizhuboss/lhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,110},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>zhizhuboss/lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,109},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{16,40}</string>
            </dict>
            <key>zhizhuboss/lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,110},{15,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,37}}</string>
                <key>sourceSize</key>
                <string>{15,37}</string>
            </dict>
            <key>zhizhuboss/lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,26},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>zhizhuboss/lzhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,108},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>zhizhuboss/lzhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,111},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>zhizhuboss/lzhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,78},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>zhizhuboss/lzhua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,60},{47,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,20}}</string>
                <key>sourceSize</key>
                <string>{47,20}</string>
            </dict>
            <key>zhizhuboss/lzhua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{73,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,37}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>zhizhuboss/lzhua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
            <key>zhizhuboss/rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,72},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>zhizhuboss/rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,76},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>zhizhuboss/rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,61},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>zhizhuboss/rhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,89},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>zhizhuboss/rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,41},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>zhizhuboss/rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>zhizhuboss/rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,111},{11,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,35}}</string>
                <key>sourceSize</key>
                <string>{11,35}</string>
            </dict>
            <key>zhizhuboss/rzhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,89},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>zhizhuboss/rzhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,111},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>zhizhuboss/rzhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,78},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>zhizhuboss/rzhua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,60},{47,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,20}}</string>
                <key>sourceSize</key>
                <string>{47,20}</string>
            </dict>
            <key>zhizhuboss/rzhua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{73,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,37}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>zhizhuboss/rzhua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss10body.png</string>
            <key>size</key>
            <string>{274,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91349ae80a557089c00c3c6927e9d883$</string>
            <key>textureFileName</key>
            <string>shenyuanboss10body.png</string>
        </dict>
    </dict>
</plist>
