<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIeffect-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>UIeffect-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{12,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>UIeffect-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>UIeffect-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>UIeffect-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>UIeffect-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{12,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>UIeffect-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{12,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>UIeffect-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss6tx.png</string>
            <key>size</key>
            <string>{16,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0ccec4899525363880d11ac2d296dda$</string>
            <key>textureFileName</key>
            <string>shenyuanboss6tx.png</string>
        </dict>
    </dict>
</plist>
