<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangqiuqiu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,358},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>guangqiuqiu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,257},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>guangqiuqiu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,409},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>guangqiuqiu-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>guangqiuqiu-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,156},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>guangqiuqiu-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,307},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>guangqiuqiu-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,156},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>jujuju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,169},{164,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{164,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{164,154}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,335},{166,152}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{166,152}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju4.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{152,136}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{152,136}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,360},{144,146}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{144,146}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>jujuju6.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,168},{152,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{152,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>juren_tx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{268,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,112}}</string>
                <key>sourceSize</key>
                <string>{270,114}</string>
            </dict>
            <key>link2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,258},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>tanglangzui-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,258},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>tanglangzui-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{168,168}}</string>
                <key>sourceSize</key>
                <string>{176,172}</string>
            </dict>
            <key>tanglangzui-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,183},{175,175}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{175,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>tanglangzui-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,179}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{179,179}}</string>
                <key>sourceSize</key>
                <string>{193,185}</string>
            </dict>
            <key>tanglangzui-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{176,177}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{176,177}}</string>
                <key>sourceSize</key>
                <string>{196,189}</string>
            </dict>
            <key>tanglangzui-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{165,164}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{165,164}}</string>
                <key>sourceSize</key>
                <string>{199,192}</string>
            </dict>
            <key>tanglangzui-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,334},{139,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{139,136}}</string>
                <key>sourceSize</key>
                <string>{197,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss10tx.png</string>
            <key>size</key>
            <string>{915,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eaef712a7856cb381e28115d65b2ddb$</string>
            <key>textureFileName</key>
            <string>shenyuanboss10tx.png</string>
        </dict>
    </dict>
</plist>
