<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenyuanboss3body/langren1-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{87,93}</string>
            </dict>
            <key>shenyuanboss3body/langren1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{55,77}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{55,77}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>shenyuanboss3body/langren1-hip.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,64},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>shenyuanboss3body/langren1-lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{39,57}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>shenyuanboss3body/langren1-lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,119},{40,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>shenyuanboss3body/langren1-lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,122},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>shenyuanboss3body/langren1-lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,81},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>shenyuanboss3body/langren1-lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,116},{26,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>shenyuanboss3body/langren1-lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,122},{30,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>shenyuanboss3body/langren1-rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{60,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,77}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>shenyuanboss3body/langren1-rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,83},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>shenyuanboss3body/langren1-rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,81},{38,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>shenyuanboss3body/langren1-rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>shenyuanboss3body/langren1-rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{25,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>shenyuanboss3body/langren1-rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,64},{27,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,50}}</string>
                <key>sourceSize</key>
                <string>{29,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss3body.png</string>
            <key>size</key>
            <string>{256,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc0ce813b380047dc4cb79b9fa80af12$</string>
            <key>textureFileName</key>
            <string>shenyuanboss3body.png</string>
        </dict>
    </dict>
</plist>
