<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achongji-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{163,78}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{163,78}}</string>
                <key>sourceSize</key>
                <string>{175,120}</string>
            </dict>
            <key>achongji-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,710},{161,89}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{161,89}}</string>
                <key>sourceSize</key>
                <string>{175,121}</string>
            </dict>
            <key>achongji-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,756},{121,91}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,4},{121,91}}</string>
                <key>sourceSize</key>
                <string>{175,121}</string>
            </dict>
            <key>achongji-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{129,87}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{129,87}}</string>
                <key>sourceSize</key>
                <string>{175,121}</string>
            </dict>
            <key>achongjidilie-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{79,159}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,24},{79,159}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
            <key>achongjidilie-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{137,177}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,15},{137,177}}</string>
                <key>sourceSize</key>
                <string>{209,205}</string>
            </dict>
            <key>achongjidilie-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,178},{255,183}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{255,183}}</string>
                <key>sourceSize</key>
                <string>{293,205}</string>
            </dict>
            <key>achongjidilie-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{292,189}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{292,189}}</string>
                <key>sourceSize</key>
                <string>{322,205}</string>
            </dict>
            <key>achongjidilie-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{310,187}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{310,187}}</string>
                <key>sourceSize</key>
                <string>{334,205}</string>
            </dict>
            <key>achongjidilie-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,157}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{322,157}}</string>
                <key>sourceSize</key>
                <string>{346,205}</string>
            </dict>
            <key>meet.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,887},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>quansai-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{174,166}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{174,166}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>quansai-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,435},{273,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{273,184}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>quanyong-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,930},{104,108}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{104,108}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>quanyong-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,647},{111,107}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{111,107}}</string>
                <key>sourceSize</key>
                <string>{117,111}</string>
            </dict>
            <key>quanyong-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,801},{103,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{103,107}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>quanyong-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,541},{104,112}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>quanyong-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,930},{115,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{115,107}}</string>
                <key>sourceSize</key>
                <string>{123,111}</string>
            </dict>
            <key>quanyong-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{119,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{119,109}}</string>
                <key>sourceSize</key>
                <string>{125,113}</string>
            </dict>
            <key>shenyuanboss5zhenglie-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,801},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>shenyuanboss5zhenglie-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,910},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
            <key>shenyuanboss5zhenglie-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,849},{79,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>shenyuanboss5zhenglie-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,849},{79,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{83,91}</string>
            </dict>
            <key>shenyuanboss5zhenglie-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,944},{91,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,81}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss5tx.png</string>
            <key>size</key>
            <string>{499,1055}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3da71d16984a67641e075589598741c$</string>
            <key>textureFileName</key>
            <string>shenyuanboss5tx.png</string>
        </dict>
    </dict>
</plist>
