<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>binglielie-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,2},{170,193}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{170,193}}</string>
                <key>sourceSize</key>
                <string>{190,205}</string>
            </dict>
            <key>binglielie-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,275}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{196,275}}</string>
                <key>sourceSize</key>
                <string>{206,291}</string>
            </dict>
            <key>binglielie-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{199,219}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{199,219}}</string>
                <key>sourceSize</key>
                <string>{217,227}</string>
            </dict>
            <key>binglielie-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{203,225}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{203,225}}</string>
                <key>sourceSize</key>
                <string>{221,235}</string>
            </dict>
            <key>binglielie-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{197,221}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{197,221}}</string>
                <key>sourceSize</key>
                <string>{223,237}</string>
            </dict>
            <key>binglielie-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{209,212}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{209,212}}</string>
                <key>sourceSize</key>
                <string>{219,238}</string>
            </dict>
            <key>binglielie-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{212,207}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{212,207}}</string>
                <key>sourceSize</key>
                <string>{212,227}</string>
            </dict>
            <key>bingpo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,852},{58,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,959},{56,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{56,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,958},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,958},{56,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,899},{56,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{56,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,854},{58,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{58,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,959},{58,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{58,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,794},{58,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{58,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,898},{58,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{58,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,794},{56,60}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{56,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,959},{56,60}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{56,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,736},{58,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{58,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingpo-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,899},{58,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{58,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>bingshang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,960},{39,40}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{39,40}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bingshang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{51,48}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{51,48}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bingshang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,796},{65,56}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{65,56}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bingshang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,587},{73,60}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bingshang-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,964},{73,58}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{73,58}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bingshang-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,812},{93,54}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{93,54}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bingshang-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,719},{99,38}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{99,38}}</string>
                <key>sourceSize</key>
                <string>{133,88}</string>
            </dict>
            <key>bingtutu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,742},{82,267}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{82,267}}</string>
                <key>sourceSize</key>
                <string>{90,285}</string>
            </dict>
            <key>bingtutu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,203},{80,145}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{80,145}}</string>
                <key>sourceSize</key>
                <string>{90,153}</string>
            </dict>
            <key>bingtutu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,362},{80,153}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{80,153}}</string>
                <key>sourceSize</key>
                <string>{90,161}</string>
            </dict>
            <key>honglanbao-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,960},{41,38}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,40},{41,38}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,964},{67,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{67,58}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,698},{91,88}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{91,88}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,484},{101,104}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{101,104}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,523},{111,116}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{111,116}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,523},{115,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{115,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,350},{117,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{117,120}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,472},{117,110}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{117,110}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>honglanbao-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,845},{117,108}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{117,108}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>huolielie-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,374},{110,172}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{110,172}}</string>
                <key>sourceSize</key>
                <string>{112,176}</string>
            </dict>
            <key>huolielie-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,652},{152,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{152,214}}</string>
                <key>sourceSize</key>
                <string>{152,224}</string>
            </dict>
            <key>huolielie-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{155,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{155,239}}</string>
                <key>sourceSize</key>
                <string>{157,245}</string>
            </dict>
            <key>huolielie-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,425},{156,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{156,228}}</string>
                <key>sourceSize</key>
                <string>{158,232}</string>
            </dict>
            <key>huolielie-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{156,229}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{156,229}}</string>
                <key>sourceSize</key>
                <string>{162,233}</string>
            </dict>
            <key>huolielie-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,655},{153,225}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{153,225}}</string>
                <key>sourceSize</key>
                <string>{159,241}</string>
            </dict>
            <key>huolielie-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,425},{125,225}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{125,225}}</string>
                <key>sourceSize</key>
                <string>{135,247}</string>
            </dict>
            <key>huolielie-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,652},{89,158}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{89,158}}</string>
                <key>sourceSize</key>
                <string>{105,194}</string>
            </dict>
            <key>huopo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,910},{46,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{46,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,910},{46,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{46,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,818},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{48,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,521},{46,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{46,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,914},{44,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{44,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,974},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{46,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,974},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{48,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,852},{48,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,852},{50,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{50,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,473},{50,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{50,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,379},{52,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,331},{52,46}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huopo-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,427},{52,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{52,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>huoshang-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,934},{28,29}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,16},{28,29}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>huoshang-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,852},{48,45}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{48,45}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>huoshang-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,868},{64,55}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{64,55}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>huoshang-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,791},{72,59}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{72,59}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>huoshang-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,662},{72,59}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{72,59}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>huoshang-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,759},{90,57}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{90,57}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>huoshang-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,374},{94,39}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,54},{94,39}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>huotutu-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,502},{47,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,238}}</string>
                <key>sourceSize</key>
                <string>{47,238}</string>
            </dict>
            <key>huotutu-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,216},{156,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,177}}</string>
                <key>sourceSize</key>
                <string>{156,177}</string>
            </dict>
            <key>huotutu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,229},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>xuanya-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,216},{153,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{153,154}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>xuanya-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,211},{149,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{149,148}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>xuanya-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,882},{141,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{141,140}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>xuanya-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,868},{153,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{153,154}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>xuanya-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,372},{149,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{149,148}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>xuanya-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,882},{141,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{141,140}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>xuanyayan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,835},{63,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>xuanyayan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,517},{69,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>xuanyayan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,197},{111,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,132}}</string>
                <key>sourceSize</key>
                <string>{119,134}</string>
            </dict>
            <key>xuanyayan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,647},{106,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,136}}</string>
                <key>sourceSize</key>
                <string>{108,136}</string>
            </dict>
            <key>xuanyayan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,203},{104,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{104,142}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>xuanyayan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,362},{105,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,141}}</string>
                <key>sourceSize</key>
                <string>{107,145}</string>
            </dict>
            <key>xuanyayan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,350},{104,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{106,134}</string>
            </dict>
            <key>xuanyayan-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,548},{102,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,133}}</string>
                <key>sourceSize</key>
                <string>{104,135}</string>
            </dict>
            <key>xuanyayan-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,584},{98,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,112}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>xuanyayan-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,587},{93,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,109}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>xuanyayan-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,785},{58,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,100}}</string>
                <key>sourceSize</key>
                <string>{58,100}</string>
            </dict>
            <key>zhuanyinyan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,759},{74,74}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{74,74}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>zhuanyinyan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,698},{94,104}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{94,104}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>zhuanyinyan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,641},{116,104}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{116,104}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>zhuanyinyan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,601},{98,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{98,116}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shenyuanboss4tx.png</string>
            <key>size</key>
            <string>{1223,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25c70aa825bf3f8bc85066460af7a1e$</string>
            <key>textureFileName</key>
            <string>shenyuanboss4tx.png</string>
        </dict>
    </dict>
</plist>
