<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongchengche0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{91,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,193}}</string>
                <key>sourceSize</key>
                <string>{91,193}</string>
            </dict>
            <key>gongchengche1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{241,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,366}}</string>
                <key>sourceSize</key>
                <string>{241,366}</string>
            </dict>
            <key>gongchengche2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,137}}</string>
                <key>sourceSize</key>
                <string>{370,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouhumubiao2body.png</string>
            <key>size</key>
            <string>{477,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a30745efe3d0c39512a3a266219d642c$</string>
            <key>textureFileName</key>
            <string>shouhumubiao2body.png</string>
        </dict>
    </dict>
</plist>
