<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,169},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>huanjian-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,206},{106,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,147}}</string>
                <key>sourceSize</key>
                <string>{106,147}</string>
            </dict>
            <key>huanjian-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,361},{104,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,143}}</string>
                <key>sourceSize</key>
                <string>{104,143}</string>
            </dict>
            <key>huanjian-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,206},{108,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,148}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
            <key>jianlie-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,104},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>jianlie-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,169},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>jianlie-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{203,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,100}}</string>
                <key>sourceSize</key>
                <string>{203,100}</string>
            </dict>
            <key>shejian-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{72,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,114}}</string>
                <key>sourceSize</key>
                <string>{72,116}</string>
            </dict>
            <key>shejian-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,374},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,126}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>shejian-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,356},{153,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,101}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>shejian-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,206},{153,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{153,90}}</string>
                <key>sourceSize</key>
                <string>{153,112}</string>
            </dict>
            <key>shejian-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{98,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{102,81}</string>
            </dict>
            <key>soul3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{79,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,267}}</string>
                <key>sourceSize</key>
                <string>{79,267}</string>
            </dict>
            <key>soul3skill-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{210,165}}</string>
                <key>sourceSize</key>
                <string>{228,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soul3body.png</string>
            <key>size</key>
            <string>{502,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db1294dd4a97df4d13cc0ac1d1d5036$</string>
            <key>textureFileName</key>
            <string>soul3body.png</string>
        </dict>
    </dict>
</plist>
