<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soul3skill-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{206,173}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{206,173}}</string>
                <key>sourceSize</key>
                <string>{218,177}</string>
            </dict>
            <key>soul3skill-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,185}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{229,185}}</string>
                <key>sourceSize</key>
                <string>{231,191}</string>
            </dict>
            <key>soul3skill-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{228,184}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,184}}</string>
                <key>sourceSize</key>
                <string>{230,196}</string>
            </dict>
            <key>soul3skill-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{210,181}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{210,181}}</string>
                <key>sourceSize</key>
                <string>{222,197}</string>
            </dict>
            <key>soul3skill-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{211,178}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{211,178}}</string>
                <key>sourceSize</key>
                <string>{225,200}</string>
            </dict>
            <key>soul3skill-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{212,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{212,168}}</string>
                <key>sourceSize</key>
                <string>{228,202}</string>
            </dict>
            <key>soul3skill-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{210,165}}</string>
                <key>sourceSize</key>
                <string>{228,203}</string>
            </dict>
            <key>soul3skill-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{195,156}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{195,156}}</string>
                <key>sourceSize</key>
                <string>{229,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soul3skill.png</string>
            <key>size</key>
            <string>{189,1719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:971abd95e2ae30552c8b71ce937d939b$</string>
            <key>textureFileName</key>
            <string>soul3skill.png</string>
        </dict>
    </dict>
</plist>
