<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aruisi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{125,160}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,36},{125,160}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>aruisi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{163,194}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,23},{163,194}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>aruisi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{203,216}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{203,216}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>aruisi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,226}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{225,226}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>aruisi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{223,228}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{223,228}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,201},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>chongci-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,42},{354,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,84}}</string>
                <key>sourceSize</key>
                <string>{354,84}</string>
            </dict>
            <key>chongci-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,2},{356,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,38}}</string>
                <key>sourceSize</key>
                <string>{356,38}</string>
            </dict>
            <key>chongci-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,198},{356,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,28}}</string>
                <key>sourceSize</key>
                <string>{356,28}</string>
            </dict>
            <key>chongci-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,215},{355,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,8}}</string>
                <key>sourceSize</key>
                <string>{355,8}</string>
            </dict>
            <key>soul1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,128},{85,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,246}}</string>
                <key>sourceSize</key>
                <string>{85,246}</string>
            </dict>
            <key>soul1fashe-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,170},{51,75}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{51,75}}</string>
                <key>sourceSize</key>
                <string>{65,97}</string>
            </dict>
            <key>soul1fashe-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,164},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,72}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>soul1fashe-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,128},{64,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>soul1fashe-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{197,196}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{197,196}}</string>
                <key>sourceSize</key>
                <string>{237,236}</string>
            </dict>
            <key>soul1fashe-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{176,176}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>soul1fashe-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{104,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,166}}</string>
                <key>sourceSize</key>
                <string>{106,166}</string>
            </dict>
            <key>soul1fashe-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{102,166}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,166}}</string>
                <key>sourceSize</key>
                <string>{106,166}</string>
            </dict>
            <key>soul1fashe-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,128},{64,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>soul1fashe-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,164},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,72}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soul1body.png</string>
            <key>size</key>
            <string>{1923,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9518a45db05154d2d2f7ae4d48bce7b1$</string>
            <key>textureFileName</key>
            <string>soul1body.png</string>
        </dict>
    </dict>
</plist>
