<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bosstuteng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{138,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,199}}</string>
                <key>sourceSize</key>
                <string>{138,199}</string>
            </dict>
            <key>duqiu-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,2},{88,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{88,87}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>duqiu-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{78,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{78,79}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>duqiu-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,92},{82,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{82,81}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>duqiu-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,92},{80,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,79}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>duqiu-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,83},{76,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{76,77}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>duqiu-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{62,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{62,65}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>duqiu-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{60,59}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{60,59}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>lvqi-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{136,177}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{136,177}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{134,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{134,175}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,177}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{138,177}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{136,179}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{136,179}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{130,177}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{130,177}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{126,179}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{126,179}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{128,177}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{128,177}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{128,175}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{128,175}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{128,175}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{128,175}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>lvqi-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{134,177}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{134,177}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tuteng1body.png</string>
            <key>size</key>
            <string>{1931,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abe46b10717a4e5833e9f843b74eb5e9$</string>
            <key>textureFileName</key>
            <string>tuteng1body.png</string>
        </dict>
    </dict>
</plist>
