<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanzhuanhuoquan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{202,96}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{202,96}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{188,98}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{188,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{188,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{188,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{192,102}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{192,102}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{198,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{198,104}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{196,108}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{196,108}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{194,98}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{194,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{200,96}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{200,96}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{208,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{208,98}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{210,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{202,92}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{202,92}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{188,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{188,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{176,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{176,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{182,96}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{182,96}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{186,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{186,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{190,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{190,92}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
            <key>xuanzhuanhuoquan-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1492},{170,94}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{170,94}}</string>
                <key>sourceSize</key>
                <string>{216,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanhuo.png</string>
            <key>size</key>
            <string>{214,1670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc548c0d23c4f86e1e42449ed4e97b9$</string>
            <key>textureFileName</key>
            <string>xuanhuo.png</string>
        </dict>
    </dict>
</plist>
