<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yinyangbaoo-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,209}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{204,209}}</string>
                <key>sourceSize</key>
                <string>{220,227}</string>
            </dict>
            <key>yinyangbaoo-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{200,211}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{200,211}}</string>
                <key>sourceSize</key>
                <string>{220,227}</string>
            </dict>
            <key>yinyangbaoo-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{198,221}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{198,221}}</string>
                <key>sourceSize</key>
                <string>{220,227}</string>
            </dict>
            <key>yinyangbaoo-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{202,203}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{202,203}}</string>
                <key>sourceSize</key>
                <string>{220,227}</string>
            </dict>
            <key>yinyangbaoo-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{208,193}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{208,193}}</string>
                <key>sourceSize</key>
                <string>{220,227}</string>
            </dict>
            <key>yinyangbaoo-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,2},{212,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{212,185}}</string>
                <key>sourceSize</key>
                <string>{220,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinyangbao.png</string>
            <key>size</key>
            <string>{1277,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe18831fc5a04a647d3d3584640da13d$</string>
            <key>textureFileName</key>
            <string>yinyangbao.png</string>
        </dict>
    </dict>
</plist>
