<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_BODY_ZHIZHU2/body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,34},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,31},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,36},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/link.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,43},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,30},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/lleg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{10,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,39}}</string>
                <key>sourceSize</key>
                <string>{10,39}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,34},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,47},{19,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,9}}</string>
                <key>sourceSize</key>
                <string>{19,9}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,32},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,16},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU2/rleg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{11,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,47}}</string>
                <key>sourceSize</key>
                <string>{11,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhizhu2body.png</string>
            <key>size</key>
            <string>{255,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb22ee98b819e490db3d6895399c66df$</string>
            <key>textureFileName</key>
            <string>zhizhu2body.png</string>
        </dict>
    </dict>
</plist>
