<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_BODY_ZHIZHU5/body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/head.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,47},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,25},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,47},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/link.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,47},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,26},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/lleg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,49},{10,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,40}}</string>
                <key>sourceSize</key>
                <string>{10,40}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,42},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,47},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,25},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rhand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,49},{11,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,28}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rleg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rleg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rleg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>NPC_BODY_ZHIZHU5/rleg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,33},{12,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,49}}</string>
                <key>sourceSize</key>
                <string>{12,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhizhu5body.png</string>
            <key>size</key>
            <string>{244,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:247c4139d255f86e20a399482a2a6c3b$</string>
            <key>textureFileName</key>
            <string>zhizhu5body.png</string>
        </dict>
    </dict>
</plist>
