<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiazhuiyan-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{207,330}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{207,330}}</string>
                <key>sourceSize</key>
                <string>{219,350}</string>
            </dict>
            <key>xiazhuiyan-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{215,331}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{215,331}}</string>
                <key>sourceSize</key>
                <string>{223,347}</string>
            </dict>
            <key>xiazhuiyan-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{203,306}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{203,306}}</string>
                <key>sourceSize</key>
                <string>{223,318}</string>
            </dict>
            <key>xiazhuiyan-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{185,328}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{185,328}}</string>
                <key>sourceSize</key>
                <string>{219,340}</string>
            </dict>
            <key>xiazhuiyan-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,220}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{155,220}}</string>
                <key>sourceSize</key>
                <string>{157,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuan.png</string>
            <key>size</key>
            <string>{224,1462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100fcbbb2ee0224dd13cbd431d4f8645$</string>
            <key>textureFileName</key>
            <string>zhuan.png</string>
        </dict>
    </dict>
</plist>
